.disabled {
    pointer-events: none;
    cursor:not-allowed;
    opacity: 0.5;
}
.m-clearfix:after{
     content:".";        
     display:block;        
     height:0;        
     clear:both;        
     visibility:hidden;        

}
.apply-progress .apply-p-left .apply-p-infor {
  min-height: 0;
}
.addApp-form-item .addApp-form-label {
  width: 90px;
  font-size: 12px;
  line-height: 34px;
  text-align: right;
  display: inline-table;
}
.m-exm-tabletitle{
	margin-top: 10px !important;
	  margin-left: 37px !important;
	  ul{
	      display: flex;
		  height: 35px;
		  line-height: 35px;
		  font-weight: 600;
		  li{
		    display: flex;
		    width:50%;
		  }
	  }
}
.marginright8{
	  margin-right: 8px;
}
.marginright30{
	  margin-right: 30px;
}
.marginleft50{
	  padding:0 20px;
	  span{
	    line-height:34px;
	    margin-left:10px;
	  }
}
.addApp-up-file{
	    height: 75px !important;
    line-height: 75px !important;
}
.apply-p-right{
	overflow: hidden;
}
.float-right {
  float:right;
}

.m-user-info{
    padding: 0 10px;
		line-height: 0px;
}
