@import '../../../../../sass/base/variables';
@import '../../../../../sass/base/util';
.m-boardtop{
   .m-btn-download{
    line-height: 35px;
    margin-right: 15px;
   } 
}
.i-search{
  height: 34px;
  line-height: 34px;
}

//列表页样式
.m-supplierList{
  margin: 10px 22px 0;

//顶部功能按钮
.m-operation{
  //overflow: hidden;

  .m-supplierManage-top-button{
    float: left;
    width: 89px;
    margin: 0 15px 10px 0;
  }

  .m-search-open{
    position: relative;
    float: right;
    padding: 18px 25px;
    background-color: $def-color3;
    color: $def-main-color;
    box-shadow: 0 -2px 3px rgba( 0, 0, 0, .15);
    cursor: pointer;
  }
  .m-search-more{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    background-color: $def-color3;
    box-shadow: 0 0 5px rgba( 0, 0, 0, .15);

    form{
      padding: 15px 25px;
      @extend %box-flex;
    }

    .m-search-item{
      float: left;
      margin-bottom: 10px;
      width: 31%;
      margin-left:-2%;
      >label{
        display: inline-block;
        width: 20%;
        margin-right: 7px;
        text-align: right;
      }
      >input[type=text],.m-select-search{
        display: inline-block;
        width: 76%;
      }
      >select{
        display: inline-block;
        width: 76%;
      }
    }

    .m-select{
      position: relative;
      background-color: #fff;
      display: inline-block;
      width: 76%;
    }

    .m-search-btn{
      width: 18%;
      text-align: center;
      .research{
        width: 44%;
      }
      .resets{
          width: 44%;
          margin-left: 15px;
      }
    }
  }
  .m-search-high{
    text-align: center;
    width: 120px;
    float: right;
  }

}

.m-supplier-noresult{
  margin: 10px 0 0;    
  /*height: 550px;*/
 
}
.m-apply {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  min-height: calc(92vh - 150px);
}

.isHide{
  display: none;
}

.notClickButton{//顶部按钮不能点击样式
  background-color: #d2d8e0 !important;
}

.table thead > tr > th {
  padding: 5px 8px 8px;
  line-height: 18px;
  white-space: nowrap;
  vertical-align: inherit;
}

.m-supplier-button-modify{//修改按钮样式
  color: #57b9f8;
  background: none;
  border:none;
}

.m-supplier-button-modify:hover{//修改按钮样式
  color: #377ca1;
  background: none;
  border:none;
}

.unEdit{
  border: none;
}

.isEditStyle{
  border: 1px solid #E2E3EB;
  height: 28px;
  width: 91%;
}

.m-iqon-edit{
  font-size: 14px;
  cursor: pointer;
}

.m-p-fontOverflow{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  color:#57b9f8;
}

.inpit-disabled-style{
  background-color: #eee;
  cursor: not-allowed;
}



}



