.saleTips{
  padding-right: 20px;
  color: crimson;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  top: -51px;
  left: 81px;
  width: 80%;
  height: 50px;
  display: block;
}