.modal{
    .modal-content{
        padding: 20px;
    }
    .modal-container{
        margin:0 auto;
        text-align: center;
    }
    .icheckbox_square-blue.checked {
        background-position: -48px 0;
    }
    .icheckbox_square-blue {
        background-position: 0 0;
    }
}
