<button type="button" class="btn btn-primary" (click)="sendInvoice()">&nbsp;添加&nbsp;</button>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade"
  tabindex="-1" role="dialog" aria-hidden="true" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
               <input type="checkbox" [ngModel]="DBFlag" icheck (onClick)="DBSelect(table)">
            </th>
            <th *ngFor="let item of head">
              <div *ngIf="item!='select'">{{item}}</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of table let i = index;trackBy: trackByFn">
            <td *ngIf="items!=false">
              <input type="checkbox" [(ngModel)]="items.select" icheck (onClick)="DBItemSelect(table,items)">
            </td>
            <td *ngFor="let item of getKeys(items)">
              <div *ngIf="item!='select'">{{items[item]}}</div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="modal-container">
        <button class="m-btn m-btn-agree" (click)="hideModal()">确定</button>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()" class="m-btn m-btn-refuse">
          <span aria-hidden="true">取消</span>
        </button>
      </div>

    </div>
  </div>
</div>