.addApp-textarea-box {
    width: 100%!important;
    .addApp-form-label {
        width: 8%;
    }
    .addApp-form-textarea {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 92%;
        height: 80px;
    }
}