<div class="m-edit-approvalDetail m-supplier-apply-left">
  
  <h4>查看承诺详情</h4>

  <!-- 基本信息 -->
  <edit-HUAWEI-basicDetail [(HUAWEIFormData)]="HUAWEIData" [status]="myApplyOrMyApproval" [approvalStatus]="taskState"></edit-HUAWEI-basicDetail>


  <!--承诺信息-->
  <edit-HUAWEI-promisedDetail [HUAWEIFormData]="HUAWEIData" [status]="myApplyOrMyApproval" [approvalStatus]="taskState"></edit-HUAWEI-promisedDetail>

  <!--附件信息-->
  <div class="m-edit-approvalDetail-content1 clearfix">

    <div class="m-edit-approvalDetail-title">
      <h5>其他信息</h5>
    </div>

    <div class="m-edit-approvalDetail-failUpLoad">
      <p class="m-edit-approvalDetail-failUpLoad-title">
        <span class="m-form-need"></span>附件信息</p>
      <div class="m-select m-edit-approvalDetail-select-style1">
        <ul class="m-enclosure">
          <li class="uploaded" *ngFor="let item of HUAWEIData.AttachmentList; index as i">
            <i class="iqon-enclosure"></i>
            <span class="filename" (click)="seeFileUpLoad(item.AccessoryURL)">
              {{item.AccessoryName}}
            </span>
          </li>
        </ul>
      </div>
    </div>

  </div>


  <!--审批历史记录-->
  <div class="m-edit-approvalDetail-content1" *ngIf="wfHistory.length>0">
    <db-wfhistory [wfHistoryData]="wfHistory"></db-wfhistory>
  </div>
  <!--审批历史记录 end-->

  <!--审批按钮-->
  <div class="m-div-margin" *ngIf="isShowApprovalButton&&taskState==='0'&&ADP==='0'">
    <db-wfapproval [appParms]="approveData" [hasSaved]="isApproval" (onSave)="onApproval($event)" (onApprovalComplateCallBack)="writeStorage()"></db-wfapproval>
  </div>


  <!-- 加签审批按钮 -->
  <div *ngIf="taskState=='0'&&ADP=='1'" class="m-div-margin">
    <db-wfadp [adpAppParms]="approveData"></db-wfadp>
  </div>

  <div class="m-commonly-btn" *ngIf="!isShowApprovalButton||taskState==='1'">
    <button type="button" (click)="revokeApproval()" class="m-btn-warn" *ngIf="myApplyOrMyApproval==='a'" [disabled]="commitmentData.WFStatus==='已完成'" [ngClass]="{'m-button-disabled':commitmentData.WFStatus==='已完成'}">撤销审批</button>
    <button class="m-btn-cancel" (click)="cancle()">关闭</button>
  </div>


</div>

<!-- 审批全景图 -->
<div class="apply-p-right">
  <db-wfview #wfView></db-wfview>
</div>