<!-- <div class="m-boardtop">

  <div class="m-crumbs">

      <ul>

        <li class="active">标题1</li>

        <li>标题2</li>

        <li>标题3</li>

        <li>标题4</li>

        <li>标题5</li>

        <li>标题6</li>

      </ul>

  </div>



  <button class="m-btn">默认按钮</button>



  <button class="m-btn m-btn-success hvr-grow">一级按钮/成功</button>
  <button class="m-btn m-btn-2 hvr-fade">二级按钮</button>
  <button class="m-btn m-btn-3 hvr-shutter-in-vertical">警示按钮/拒绝</button>
  <button class="m-btn m-btn-4 hvr-bounce-to-right">无效按钮</button>
  <button class="m-btn m-btn-3 hvr-ripple-out">成功按钮</button>
  <button class="m-btn m-btn-warn">警示按钮/拒绝</button>
  <button class="m-btn m-btn-invalid">无效按钮</button>



  <div data-category="button">
    <button class="m-btn m-btn-first-1">大按钮主要</button>
    <button class="m-btn m-btn-second-1">大按钮次要</button>
    <br>
    <button class="m-btn m-btn-first-2">中按钮主要</button>
    <button class="m-btn m-btn-second-2">中按钮次要</button>
    <br>
    <button class="m-btn m-btn-first-3">小按钮主要</button>
    <button class="m-btn m-btn-second-3">小按钮次要</button>
    <br>
    <button class="m-btn m-btn-first-4">小按钮主要</button>
    <button class="m-btn m-btn-second-4">小按钮次要</button>
    <br>
    <button class="m-btn m-btn-prev">上一步</button>
    <button class="m-btn m-btn-next">下一步</button>
    <br>
    <button class="m-btn m-btn-agree">同意</button>
    <button class="m-btn m-btn-refuse">驳回</button>
    <br>
    <button class="m-btn m-btn-confirm">确定</button>
    <button class="m-btn m-btn-cancel">取消</button>
    <br>
  </div>



  <div data-category="drop-down-btn" style="margin-top: 50px;" class="clearfix">
    <div style="float: left;width: 150px;">
      <button class="m-btn-more-big">更多</button>
      <br>
      <button class="m-btn-more-mid">更多</button>
      <br>
      <button class="m-btn-more-small">更多</button>
      <br>
    </div>
    <div style="float: left;">
      <div class="m-dropdown">
        <button class="m-btn-more-big">更多</button>
        <ul class="m-dropdown-option">
          <li>强制跳转</li>
          <li>替换处理人</li>
          <li>加签</li>
          <li>转办</li>
          <li>强制跳转</li>
        </ul>
      </div>
    </div>
  </div>



  <div style="margin-top: 150px;">
    <div class="m-list-menu">
      <ul class="m-state">
        <li>全部</li>
        <li>审批中</li>
        <li>已完成</li>
        <li class="active">草稿</li>
      </ul>
      <div class="m-search">
        <div class="m-search-1">
          <i>&#xe601;</i>
          <input type="text" name="state" placeholder="申请人/当前状态">
        </div>
        <div class="m-search-2">
          <i>&#xe8a4;</i>
          <button>高级搜索</button>
        </div>
      </div>
    </div>
  </div>





  <div style="margin-top:300px;background-color:#fff;padding:30px;">

    <div>

                        <div>



                            <table class="table table-hover">

                                <thead>

                                <tr>

                                    <th>序号</th>

                                    <th>申请日期</th>

                                    <th>申请人</th>

                                    <th>部门</th>

                                    <th>加急</th>

                                    <th>数量</th>

                                    <th>金额（元）</th>

                                    <th>当前状态</th>

                                    <th>当前审批人</th>

                                </tr>

                                </thead>

                                <tbody>

                                <tr>

                                    <td>1</td>

                                    <td><span class="pie" style="display: none;">0.52,1.041</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>

                                    <td>Samantha</td>

                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 40% </td>

                                    <td>1</td>

                                    <td>2</td>

                                    <td>3</td>

                                    <td>4</td>

                                    <td>5</td>

                                </tr>

                                <tr>

                                    <td>2</td>

                                    <td><span class="pie" style="display: none;">226,134</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 1 1 2.2452815972907922 13.55726696367198 Z" fill="#1ab394"></path><path d="M 8 8 L 2.2452815972907922 13.55726696367198 A 8 8 0 0 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>

                                    <td>Jacob</td>

                                    <td class="text-warning"> <i class="fa fa-level-down"></i> -20% </td>

                                    <td>1</td>

                                    <td>2</td>

                                    <td>3</td>

                                    <td>4</td>

                                    <td>5</td>

                                </tr>

                                <tr>

                                    <td>3</td>

                                    <td><span class="pie" style="display: none;">0.52/1.561</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>

                                    <td>Damien</td>

                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 26% </td>

                                    <td>1</td>

                                    <td>2</td>

                                    <td>3</td>

                                    <td>4</td>

                                    <td>5</td>

                                </tr>

                                </tbody>

                            </table>

                            <div class="page">



                            <div class="page-size">

                              显示:

                              <a>10</a>

                              <a>20</a>

                              <a>50</a>

                              条/页

                            </div>

    <div class="page-all">

        共117条

    </div>

    <div class="pagination">

        <ul>

            <li><a>上</a></li>

            <li><a>1</a></li>

            <li>

              <span>&nbsp;&nbsp;...&nbsp;&nbsp;</span>

            </li>

            <li><a>6</a></li>

            <li class="active">

                <a>7</a>

            </li>

            <li>

              <a>8</a>

            </li>

            <li>

              <span>&nbsp;&nbsp;...&nbsp;&nbsp;</span>

            </li>

            <li>

            <a>30</a>

            </li>

            <li><a>下</a></li>

        </ul>

    </div>

    <div class="page-go">

        到第 <input class="ng-untouched ng-pristine ng-valid" type="text"> 页

    </div>





</div>

                        </div>

                    </div>

  </div>





  <div style="padding-top:100px;float:left;width:300px;">



    <div class="m-usertab">



        <div class="m-usernav">



          <span>菜单</span>



        </div>



        <div class="m-usernav">



          <span>设置</span>



        </div>



    </div>







    <div style="width:246px;margin-top:30px;float:left;">



      <select class="form-control">



          <option>会议</option>



          <option>日程</option>



      </select>



    </div>







    <div class="m-userimg" style="width: 246px; float: left; border-bottom: 1px solid rgb(225, 227, 235); padding-bottom: 10px; margin-top: 20px;">



      <div class="m-userav">

        <img src="assets/default-user.png">

      </div>

      <div class="m-userdes">

        <div class="m-userdesname">

          <span>张新颖</span>

        </div>

        <div class="m-userdesinfo">

          <span>管理员，88888888</span>

        </div>

      </div>



    </div>



    <div class="m-usertree">



      <div class="maillist_ui-container m-treecon">

          <ul class="maillist-left-nav m-treeconleft">

              <li>

                <a href=""><i class="iqon-list-2"></i>公共通讯录</a>

              </li>

              <li class="open">

                <a href="javaScript:void(0);">

                  <i class="iqon-angle-down"></i>神州云科

                </a>

                  <ul>

                      <li>

                          <a href="javaScript:void(0);"><i class="iqon-angle-down"></i>云服务事业部</a>

                          <ul class="">

                              <li class="">

                                <a href="javaScript:void(0);">运营管理部</a>

                                <span class="m-numq">6</span>

                              </li>

                              <li class="active"><a href="javaScript:void(0);">IT服务中心</a></li>

                              <li class="">

                                <span>

                                  <a href="javaScript:void(0);">生态发展中心</a>

                                </span>

                              </li>

                              <li class="">

                                <span>

                                  <a href="javaScript:void(0);">行业销售中心</a>

                                </span>

                              </li>

                              <li class="">

                                <span>

                                  <a href="javaScript:void(0);">运营中心</a>

                                </span>

                              </li>

                          </ul>

                      </li>

                  </ul>

              </li>

          </ul>

        </div>





    </div>









  </div>







</div> -->
