.input-box {
    display: inline-block;
    width: 21%;
    margin-right: 20px;
    input {
        width: 80%;
        height: 30px;
    }
}
.margin-btm {
    margin-bottom: 15px;
}
.btn-content {
    .large-btn {
        width:190px !important;
        margin-left: 30% !important;
    }
}
.NAOrderNumber-w {
    width: 112px;
}