<div class="errMes">
  <div class="m-pop-title">
    <h5>
      错误信息提示
    </h5>
    <i class="iqon-close" (click)="close()"></i>
  </div>

  <div class="m-form-table-box">

    <table class="m-form-table">
      <thead>
        <tr>
          <th width="10%">
            <span>行号</span>
          </th>
          <th width="90%">
            <span>错误内容</span>
          </th>
        </tr>
      </thead>
    </table>

    <div class="m-table-heightAuto">
      <table class="m-form-table" style="border-top:none">
        <tbody>
          <tr *ngFor="let item of errorMessageList;index as i">
            <td width="10%">{{item.Index}}</td>
            <td width="90%" class="m-errMes" [title]="item.Message">{{item.Message}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>