<div class="m-boardtop clearfix">
    <div class="m-boardmenu">
      <a routerLinkActive="active" routerLink="/procurement/erporderchange-apply/my-apply">我的申请<span class="m-nums hide">5</span></a>
      <a routerLinkActive="active" routerLink="/procurement/erporderchange-apply/my-approval">我的审批<span class="m-nums" *ngIf="approvaTtotalNum" >{{approvaTtotalNum}}</span></a>
    </div>
    <button class="m-btn-success" (click)="addData()"><i class="iqon-add"></i>新建采购订单修改</button>
  </div>
  <router-outlet></router-outlet>