@font-face {
  font-family: 'fontawesome-webfont';
  src:  url('assets/fonts/fontawesome-webfont.eot?n8u1n4');
  src:  url('assets/fonts/fontawesome-webfont.eot?n8u1n4#iefix') format('embedded-opentype'),
    url('assets/fonts/fontawesome-webfont.ttf?n8u1n4') format('truetype'),
    url('assets/fonts/fontawesome-webfont.woff?n8u1n4') format('woff'),
    url('assets/fonts/fontawesome-webfont.svg?n8u1n4#fontawesome-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class^="iqon-"], i[class*=" iqon-"]{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontawesome-webfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iqon-lianjie:before {
  content: "\e613";
}

.iqon-express-truck:before {
  content: "\f000d";
}

.iqon-right-add:before {
  content: "\ea0b";
}
.iqon-capsule:before {
  content: "\e9f9";
  color: #6ecd73;
}
.iqon-sos:before {
  content: "\e9fa";
  color: #46b6f6;
}
.iqon-hut:before {
  content: "\e9fb";
  color: #ffbc2b;
}
.iqon-pumpkin:before {
  content: "\e9fc";
  color: #ffbc2b;
}
.iqon-books:before {
  content: "\e9fd";
  color: #46b6f6;
}
.iqon-books-o:before {
  content: "\e9fe";
  color: #46b6f6;
}
.iqon-tower:before {
  content: "\e9ff";
  color: #6ecd73;
}
.iqon-documents:before {
  content: "\ea00";
  color: #46b6f6;
}
.iqon-article:before {
  content: "\ea01";
  color: #ffbc2b;
}
.iqon-Store:before {
  content: "\ea02";
  color: #6ecd73;
}
.iqon-save:before {
  content: "\ea03";
  color: #ffbc2b;
}
.iqon-12:before {
  content: "\ea04";
  color: #6ecd73;
}
.iqon-relevance:before {
  content: "\ea05";
  color: #6ecd73;
}
.iqon-rocket:before {
  content: "\ea06";
  color: #46b6f6;
}
.iqon-doctor:before {
  content: "\ea07";
  color: #46b6f6;
}
.iqon-key:before {
  content: "\ea08";
  color: #ffbc2b;
}
.iqon-feeder:before {
  content: "\ea09";
  color: #46b6f6;
}
.iqon-royal-crown:before {
  content: "\ea0a";
  color: #ffbc2b;
}
.iqon-opposite:before {
  content: "\ea0c";
  color: #46b6f6;
}
.iqon-sofa:before {
  content: "\ea0d";
  color: #ffbc2b;
}
.iqon-gift:before {
  content: "\ea0e";
  color: #ffbc2b;
}
.iqon-motorcycle-o:before {
  content: "\ea0f";
  color: #46b6f6;
}
.iqon-motorcycle:before {
  content: "\ea10";
  color: #6ecd73;
}
.iqon-notice-1:before {
  content: "\ea11";
  color: #46b6f6;
}
.iqon-car:before {
  content: "\ea12";
  color: #ffbc2b;
}
.iqon-staff:before {
  content: "\ea13";
  color: #46b6f6;
}
.iqon-manager:before {
  content: "\ea14";
  color: #46b6f6;
}
.iqon-headset:before {
  content: "\ea15";
  color: #46b6f6;
}
.iqon-briefcase:before {
  content: "\ea16";
  color: #6ecd73;
}
.iqon-girl:before {
  content: "\ea17";
  color: #46b6f6;
}
.iqon-skirt:before {
  content: "\ea18";
  color: #46b6f6;
}
.iqon-box:before {
  content: "\ea19";
  color: #6ecd73;
}
.iqon-collection-box:before {
  content: "\ea1a";
  color: #46b6f6;
}
.iqon-planes:before {
  content: "\ea1b";
  color: #46b6f6;
}
.iqon-graph:before {
  content: "\ea1c";
  color: #6ecd73;
}
.iqon-hamburg:before {
  content: "\ea1d";
  color: #ffbc2b;
}
.iqon-hand:before {
  content: "\ea1e";
  color: #46b6f6;
}
.iqon-floor:before {
  content: "\ea1f";
  color: #6ecd73;
}
.iqon-music:before {
  content: "\ea20";
  color: #46b6f6;
}
.iqon-dollar:before {
  content: "\ea21";
  color: #ffbc2b;
}
.iqon-stamp:before {
  content: "\ea22";
  color: #ffbc2b;
}
.iqon-cun:before {
  content: "\ea23";
  color: #46b6f6;
}
.iqon-distribute:before {
  content: "\ea24";
  color: #6ecd73;
}
.iqon-knapsack:before {
  content: "\ea25";
  color: #ffbc2b;
}
.iqon-geometry:before {
  content: "\ea26";
  color: #46b6f6;
}
.iqon-light:before {
  content: "\ea27";
  color: #ffbc2b;
}
.iqon-call:before {
  content: "\ea28";
  color: #46b6f6;
}
.iqon-bag:before {
  content: "\ea29";
  color: #6ecd73;
}
.iqon-shopping-cart:before {
  content: "\ea2a";
  color: #6ecd73;
}
.iqon-voice-tube:before {
  content: "\ea2b";
  color: #6ecd73;
}
.iqon-focus:before {
  content: "\ea2c";
  color: #46b6f6;
}
.iqon-exchange:before {
  content: "\ea2d";
  color: #6ecd73;
}
.iqon-lucky:before {
  content: "\ea2e";
  color: #46b6f6;
}
.iqon-text:before {
  content: "\ea2f";
  color: #46b6f6;
}
.iqon-Administrator:before {
  content: "\ea30";
  color: #46b6f6;
}
.iqon-text1:before {
  content: "\ea31";
  color: #46b6f6;
}
.iqon-pen:before {
  content: "\ea32";
  color: #46b6f6;
}
.iqon-trucks:before {
  content: "\ea33";
  color: #46b6f6;
}
.iqon-related:before {
  content: "\ea34";
  color: #6ecd73;
}
.iqon-memory-card:before {
  content: "\ea35";
  color: #46b6f6;
}
.iqon-small-bell:before {
  content: "\ea36";
  color: #ffbc2b;
}
.iqon-staff-manage:before {
  content: "\ea37";
  color: #46b6f6;
}
.iqon-medal:before {
  content: "\ea38";
  color: #ffbc2b;
}
.iqon-calendars:before {
  content: "\ea39";
  color: #46b6f6;
}
.iqon-flage2:before {
  content: "\ea3a";
  color: #6ecd73;
}
.iqon-person2:before {
  content: "\ea3b";
  color: #46b6f6;
}
.iqon-main-data:before {
  content: "\e9f4";
}
.iqon-modal:before {
  content: "\e9f5";
}
.iqon-create:before {
  content: "\e9f6";
}
.iqon-ordinary:before {
  content: "\e9f7";
}
.iqon-flesh:before {
  content: "\e9f8";
}
.iqon-data:before {
  content: "\e9f1";
}
.iqon-extend:before {
  content: "\e9f2";
}
.iqon-amazing:before {
  content: "\eae8";
}
.iqon-code:before {
  content: "\e9f3";
}  
.iqon-it:before {
  content: "\e9ef";
}
.iqon-no:before {
  content: "\e9f0";
}
.iqon-replace:before {
  content: "\e9eb";
}
.iqon-default:before {
  content: "\e9ec";
}
.iqon-synchronous:before {
  content: "\e9ed";
}
.iqon-organization:before {
  content: "\e9ee";
}
.iqon-appoval:before {
  content: "\e9d1";
}
.iqon-apply:before {
  content: "\e9d2";
}
.iqon-approve:before {
  content: "\e9d3";
}
.iqon-fold:before {
  content: "\e9d5";
}
.iqon-DCone:before {
  content: "\e9d6";
}
.iqon-highsearch:before {
  content: "\e9d7";
}
.iqon-close-b:before {
  content: "\e9d8";
}
.iqon-add-bold:before {
  content: "\e9d9";
}
.iqon-more-bold:before {
  content: "\e9da";
}
.iqon-right-bold:before {
  content: "\e9db";
}
.iqon-flage:before {
  content: "\e9dc";
}
.iqon-B:before {
  content: "\e9dd";
}
.iqon-search-m:before {
  content: "\e9e1";
}
.iqon-down-bold:before {
  content: "\e9e2";
}
.iqon-msg:before {
  content: "\e9e3";
}
.iqon-replace-circle:before {
  content: "\e9e4";
}
.iqon-add-circle:before {
  content: "\e9e5";
}
.iqon-tip:before {
  content: "\e9d4";
}
.iqon-document:before {
  content: "\e9d0";
}
.iqon-plate-1:before {
  content: "\e9cd";
}
.iqon-plate-2:before {
  content: "\e9ce";
}
.iqon-plate-3:before {
  content: "\e9cf";
}
.iqon-jia:before {
  content: "\e9c9";
}
.iqon-jian:before {
  content: "\e9ca";
}
.iqon-shang:before {
  content: "\e9cb";
}
.iqon-xia:before {
  content: "\e9cc";
}
.iqon-time:before {
  content: "\e9c8";
}
.iqon-file-2:before {
  content: "\e9c4";
}
.iqon-tool-2:before {
  content: "\e9c5";
}
.iqon-enclosure:before {
  content: "\e9c6";
}
.iqon-subtask:before {
  content: "\e9c7";
}
.iqon-put:before {
  content: "\e9c3";
}
.iqon-sort:before {
  content: "\e9c1";
}
.iqon-archived:before {
  content: "\e9c2";
}
.iqon-label:before {
  content: "\e9b4";
}
.iqon-colplates:before {
  content: "\e9b5";
}
.iqon-member:before {
  content: "\e9b6";
}
.iqon-pubplates:before {
  content: "\e9b7";
}
.iqon-myplates:before {
  content: "\e9b8";
}
.iqon-refre:before {
  content: "\e9b9";
}
.iqon-comment2:before {
  content: "\e9ba";
}
.iqon-pagebottom:before {
  content: "\e9bb";
}
.iqon-pagetop:before {
  content: "\e9bc";
}  
.iqon-task:before {
  content: "\e9bd";
}
.iqon-rotate90:before {
  content: "\e9be";
}
.iqon-back:before {
  content: "\e9bf";
}
.iqon-close2:before {
  content: "\e9c0";
}
.iqon-close-m:before {
  content: "\e900";
}
.iqon-add:before {
  content: "\e911";
}
.iqon-address-book:before {
  content: "\e9b0";
}
.iqon-address-book-o:before {
  content: "\e95f";
}
.iqon-address-book2:before {
  content: "\e93d";
}
.iqon-administrator:before {
  content: "\e901";
}
.iqon-advertise:before {
  content: "\e9b2";
}
.iqon-advertise-o:before {
  content: "\e96a";
}
.iqon-angle-down:before {
  content: "\e952";
}
.iqon-angle-left:before {
  content: "\e956";
}
.iqon-angle-right:before {
  content: "\e955";
}
.iqon-angle-up:before {
  content: "\e951";
}
.iqon-arrow-right:before {
  content: "\e916";
}
.iqon-arrow-turn:before {
  content: "\e938";
}
.iqon-ask-leave:before {
  content: "\e921";
}
.iqon-attachment:before {
  content: "\e94a";
}
.iqon-attendance:before {
  content: "\e9a7";
}
.iqon-attendance-o:before {
  content: "\e953";
}
.iqon-audit:before {
  content: "\e9ae";
}
.iqon-audit2:before {
  content: "\e925";
}
.iqon-book:before {
  content: "\e95d";
}
.iqon-browse:before {
  content: "\e96d";
}
.iqon-calculate:before {
  content: "\e932";
}
.iqon-calendar:before {
  content: "\e9ac";
}
.iqon-calendar-2:before {
  content: "\e924";
}
.iqon-calendar-o:before {
  content: "\e95a";
}
.iqon-calendar2:before {
  content: "\e93b";
}
.iqon-card:before {
  content: "\e9a9";
}
.iqon-card-o:before {
  content: "\e957";
}
.iqon-carts:before {
  content: "\e90c";
}
.iqon-check:before {
  content: "\e91e";
}
.iqon-classify:before {
  content: "\e91f";
}
.iqon-clip:before {
  content: "\e984";
}
.iqon-clip-circle:before {
  content: "\e985";
}
.iqon-clock:before {
  content: "\e935";
}
.iqon-close-red:before {
  content: "\e9ea";
}
.iqon-collect-default:before {
  content: "\e902";
}
.iqon-collection:before {
  content: "\e9af";
}
.iqon-comment:before {
  content: "\e96f";
}
.iqon-comment-o:before {
  content: "\e989";
}
.iqon-company:before {
  content: "\e970";
}
.iqon-concat:before {
  content: "\e9a4";
}
.iqon-concat-o:before {
  content: "\e94c";
}
.iqon-contact2:before {
  content: "\e995";
}
.iqon-delay:before {
  content: "\e947";
}
.iqon-direct-left:before {
  content: "\e918";
}
.iqon-direct-right:before {
  content: "\e903";
}
.iqon-download:before {
  content: "\e971";
}
.iqon-dustbin:before {
  content: "\e92b";
}
.iqon-dustbin-default:before {
  content: "\e904";
}
.iqon-dustbin-full:before {
  content: "\e905";
}
.iqon-eachother:before {
  content: "\e972";
}
.iqon-edit:before {
  content: "\e96b";
}
.iqon-emoji:before {
  content: "\e943";
}
.iqon-employee:before {
  content: "\e958";
}
.iqon-end:before {
  content: "\e973";
}
.iqon-export-in:before {
  content: "\e930";
}
.iqon-export-out:before {
  content: "\e933";
}
.iqon-favorite:before {
  content: "\e992";
}
.iqon-favorite_o:before {
  content: "\e974";
}
.iqon-female:before {
  content: "\e965";
}
.iqon-file:before {
  content: "\e94f";
}
.iqon-finance:before {
  content: "\e99e";
}
.iqon-finance-o:before {
  content: "\e942";
}
.iqon-folder:before {
  content: "\e9b1";
}
.iqon-folder-o:before {
  content: "\e963";
}
.iqon-folder2:before {
  content: "\e93e";
}
.iqon-good:before {
  content: "\e993";
}
.iqon-good-full:before {
  content: "\e92a";
}
.iqon-group:before {
  content: "\e906";
}
.iqon-heart-circle:before {
  content: "\e975";
}
.iqon-home:before {
  content: "\e976";
}
.iqon-info:before {
  content: "\e92e";
}
.iqon-info-circle:before {
  content: "\e907";
}
.iqon-info-circle-o:before {
  content: "\e908";
}
.iqon-join:before {
  content: "\e9ad";
}
.iqon-join-o:before {
  content: "\e95b";
}
.iqon-leave:before {
  content: "\e9a8";
}
.iqon-leave-o:before {
  content: "\e954";
}
.iqon-list:before {
  content: "\e978";
}
.iqon-list-1:before {
  content: "\e931";
}
.iqon-list-2:before {
  content: "\e909";
}
.iqon-location:before {
  content: "\e937";
}
.iqon-mail:before {
  content: "\e969";
}
.iqon-male:before {
  content: "\e990";
}
.iqon-market:before {
  content: "\e919";
}
.iqon-maximun:before {
  content: "\e979";
}
.iqon-meeting:before {
  content: "\e9a6";
}
.iqon-message:before {
  content: "\e98f";
}
.iqon-metting:before {
  content: "\e939";
}
.iqon-metting-o:before {
  content: "\e950";
}
.iqon-minimize:before {
  content: "\e97a";
}
.iqon-more:before {
  content: "\e97b";
}
.iqon-move:before {
  content: "\e92f";
}
.iqon-moveto:before {
  content: "\e90a";
}
.iqon-my-share:before {
  content: "\e90b";
}
.iqon-myfile:before {
  content: "\e996";
}
.iqon-news:before {
  content: "\e9aa";
}
.iqon-news-o:before {
  content: "\e964";
}
.iqon-note:before {
  content: "\e912";
}
.iqon-notes:before {
  content: "\e99f";
}
.iqon-notes-o:before {
  content: "\e945";
}
.iqon-notice:before {
  content: "\e922";
}
.iqon-notice-circle:before {
  content: "\e97f";
}
.iqon-notify:before {
  content: "\e940";
}
.iqon-notify-o:before {
  content: "\e968";
}
.iqon-office:before {
  content: "\e99d";
}
.iqon-office-o:before {
  content: "\e941";
}
.iqon-order:before {
  content: "\e997";
}
.iqon-orderdown:before {
  content: "\e998";
}
.iqon-orderup:before {
  content: "\e999";
}
.iqon-org:before {
  content: "\e944";
}
.iqon-out:before {
  content: "\e926";
}
.iqon-papers:before {
  content: "\e90d";
}
.iqon-paste:before {
  content: "\e917";
}
.iqon-pencil:before {
  content: "\e90e";
}
.iqon-people:before {
  content: "\e98b";
}
.iqon-person:before {
  content: "\e920";
}
.iqon-phone:before {
  content: "\e987";
}
.iqon-photo:before {
  content: "\e961";
}
.iqon-photo-circle:before {
  content: "\e914";
}
.iqon-plane:before {
  content: "\e9a0";
}
.iqon-plane-o:before {
  content: "\e946";
}
.iqon-plus-circle:before {
  content: "\e97c";
}
.iqon-position:before {
  content: "\e91d";
}
.iqon-post:before {
  content: "\e991";
}
.iqon-q-circle:before {
  content: "\e97d";
}
.iqon-query:before {
  content: "\e91c";
}
.iqon-record:before {
  content: "\e93f";
}
.iqon-record-o:before {
  content: "\e967";
}
.iqon-recovery:before {
  content: "\e92d";
}
.iqon-refresh:before {
  content: "\e95e";
}
.iqon-regret:before {
  content: "\e915";
}
.iqon-reimburse-o:before {
  content: "\e91b";
}
.iqon-remove-circle:before {
  content: "\e98e";
}
.iqon-renwu:before {
  content: "\e9ab";
}
.iqon-report:before {
  content: "\e9b3";
}
.iqon-report-o:before {
  content: "\e96c";
}
.iqon-return:before {
  content: "\e949";
}
.iqon-right:before {
  content: "\e97e";
}
.iqon-rocket-circle:before {
  content: "\e977";
}
.iqon-ruler:before {
  content: "\e9a5";
}
.iqon-ruler-o:before {
  content: "\e94e";
}
.iqon-sad:before {
  content: "\e92c";
}
.iqon-salary:before {
  content: "\e9a3";
}
.iqon-salary-o:before {
  content: "\e94d";
}
.iqon-seal:before {
  content: "\e9a2";
}
.iqon-seal-o:before {
  content: "\e966";
}
.iqon-search-error:before {
  content: "\e99a";
}
.iqon-search:before {
  content: "\e98a";
}
.iqon-set-time:before {
  content: "\e936";
}
.iqon-set-time-o:before {
  content: "\e959";
}
.iqon-set-time2:before {
  content: "\e93a";
}
.iqon-setting:before {
  content: "\e98c";
}
.iqon-share:before {
  content: "\e98d";
}
.iqon-share-circle:before {
  content: "\e981";
}
.iqon-share-folder:before {
  content: "\e980";
}
.iqon-shared-folder:before {
  content: "\e982";
}
.iqon-star:before {
  content: "\e93c";
}
.iqon-star-circle:before {
  content: "\e983";
}
.iqon-star-empty:before {
  content: "\e927";
}
.iqon-star-full:before {
  content: "\e928";
}
.iqon-star-half:before {
  content: "\e929";
}
.iqon-star-o:before {
  content: "\e95c";
}
.iqon-sync:before {
  content: "\e960";
}
.iqon-tag:before {
  content: "\e94b";
}
.iqon-tag-circle:before {
  content: "\e986";
}
.iqon-tag-o:before {
  content: "\e910";
}
.iqon-tag-q:before {
  content: "\e99b";
}
.iqon-team:before {
  content: "\e962";
}
.iqon-tel:before {
  content: "\e913";
}
.iqon-thumbnail:before {
  content: "\e988";
}
.iqon-tool:before {
  content: "\e99c";
}
.iqon-top:before {
  content: "\e90f";
}
.iqon-transfer:before {
  content: "\e9a1";
}
.iqon-transfer-o:before {
  content: "\e948";
}
.iqon-turn:before {
  content: "\e91a";
}
.iqon-typeset:before {
  content: "\e923";
}
.iqon-whorl:before {
  content: "\e934";
}
.iqon-work-calendar:before {
  content: "\e994";
}
.iqon-document2:before {
  content: "\e9de";
}
.iqon-plate-12:before {
  content: "\e9e6";
}
.iqon-plate-22:before {
  content: "\e9e7";
}
.iqon-plate-32:before {
  content: "\e9e8";
}
.iqon-close22:before {
  content: "\e9e9";
}
.iqon-close:before {
  content: "\e96e";
}
.iqon-salary2:before {
  content: "\e9e0";
}
.iqon-work-calendar2:before {
  content: "\e9df";
}
