<div class="m-edit-approvalDetail">

  <h4>查看承诺详情</h4>

  <!-- 基本信息 -->
  <div class="m-edit-approvalDetail-content1 clearfix">

    <div class="m-edit-approvalDetail-title">
      <h5>基本信息</h5>
    </div>

    <div class="m-edit-approvalDetail-form m-edit-approvalDetail-tips">
      <p class="m-edit-approvalDetail-form-title m-edit-approvalDetail-form-titles m-promised-p">申请人</p>
      <div class="m-select m-edit-approvalDetail-select-style1">
        <span>{{commitmentData.SalesName}}</span>
        <span class="m-user-ename">{{commitmentData.SalesITCode|lowercase}}</span>
      </div>
    </div>

    <div class="m-edit-approvalDetail-form m-edit-approvalDetail-tips">
      <p class="m-edit-approvalDetail-form-title m-edit-approvalDetail-form-titles m-promised-p">
        <span class="m-form-need"></span>事业部</p>
      <div class="m-select m-edit-approvalDetail-select-style1">
        {{commitmentData.SalesDeparment}}
      </div>
    </div>

    <div class="m-edit-approvalDetail-form m-edit-approvalDetail-tips">
      <p class="m-edit-approvalDetail-form-title m-edit-approvalDetail-form-titles m-promised-p">
        <span class="m-form-need"></span>平台</p>
      <div class="m-select m-edit-approvalDetail-select-style1">
        {{commitmentData.PlatformName}}
      </div>
    </div>

    <div class="m-edit-approvalDetail-form m-edit-approvalDetail-tips">
      <p class="m-edit-approvalDetail-form-title m-edit-approvalDetail-form-titles m-promised-p">
        <span class="m-form-need"></span>信用评级</p>
      <div class="m-select m-edit-approvalDetail-select-style1">
        {{commitmentData.SalesLevel}}
      </div>
    </div>

    <div class="m-edit-approvalDetail-form m-edit-approvalDetail-tips">
      <p class="m-edit-approvalDetail-form-title m-edit-approvalDetail-form-titles m-promised-p">
        <span class="m-form-need"></span>代理商名称</p>
      <div class="m-select m-edit-approvalDetail-select-style1">
        {{commitmentData.AgentName}}
      </div>
    </div>


    <div class="m-edit-approvalDetail-form m-edit-approvalDetail-tips">
      <p class="m-edit-approvalDetail-form-title m-edit-approvalDetail-form-titles m-promised-p">
        <span class="m-form-need"></span>合同编号</p>
      <div class="m-select m-edit-approvalDetail-select-style1">
        {{commitmentData.ContractID}}
      </div>
    </div>

    <div class="m-edit-approvalDetail-form m-edit-approvalDetail-tips">
      <p class="m-edit-approvalDetail-form-title m-edit-approvalDetail-form-titles m-promised-p">
        <span class="m-form-need"></span>合同金额</p>
      <div class="m-select m-edit-approvalDetail-select-style1">
        {{commitmentData.ContractMoney}}
        <span *ngIf="commitmentData.ContractMoney">元</span>
      </div>
    </div>

  </div>


  <!--承诺信息-->
  <div class="m-edit-approvalDetail-content1 clearfix">

    <div class="m-edit-approvalDetail-title">
      <h5>承诺信息</h5>
    </div>

    <div class="m-edit-promised-ncp-form-row m-edit-approvalDetail-tips">
      <p class="m-edit-promised-ncp-form-title m-edit-approvalDetail-form-titles m-promised-p" style="vertical-align: top;">
        <span class="m-form-need"></span>承诺类型</p>

      <div class="m-select m-edit-approvalDetail-select-style1 m-promised-div" *ngFor="let item of commitTypesList">
        <div class="m-promisedTypeList-title">
          {{item.Name}}
        </div>
        <span style="vertical-align: top;display:inline-block">
            <input type="checkbox" icheck [name]="item.Code" [attr.name]="item.Code" [(ngModel)]="item.checked" [disabled]="item.IsReach==='是'">
        </span>
      </div>

    </div>

    <div class="m-edit-promised-ncp-form-row m-edit-approvalDetail-tips" *ngIf="commitmentData.ReturnMoney">
      <p class="m-edit-promised-ncp-form-title m-edit-approvalDetail-form-titles m-select-title">
        <span class="m-form-need"></span>回款金额</p>
      <div class="m-select m-edit-approvalDetail-select-style1 m-promised-div">
        {{commitmentData.ReturnMoney}}
        <span>元</span>
      </div>
    </div>

    <div class="m-edit-promised-ncp-form-row m-edit-approvalDetail-tips">
      <p class="m-edit-promised-ncp-form-title m-edit-approvalDetail-form-titles m-select-title">
        <span [ngSwitch]="commitmentData.CommitTypeCode">
          <span *ngSwitchCase="'0001'">清理时间</span>
          <span *ngSwitchCase="'0007'">回款时间</span>
          <span *ngSwitchCase="'0009'">承诺达成时间</span>
          <span *ngSwitchDefault>返还时间</span>
        </span>
        <div class="m-select m-edit-approvalDetail-select-style1 m-promised-div">
          {{commitmentData.CommitDate|iqDate:"YYYY-MM-DD"}}
        </div>
    </div>

    <div class="m-edit-promised-ncp-form-row m-edit-approvalDetail-tips" style="width:100%">
      <p class="m-edit-promised-ncp-form-title m-edit-approvalDetail-form-titles m-select-title" style="vertical-align: top;">
        <span class="m-form-need"></span>承诺内容</p>
      <div class="m-select m-edit-approvalDetail-select-style1 m-promised-div" style="padding-right:20px;width:88%">
        {{commitmentData.CommitMatters}}
      </div>
    </div>


  </div>

  <!--附件信息-->
  <div class="m-edit-approvalDetail-content1 clearfix">

    <div class="m-edit-approvalDetail-title">
      <h5>附件信息</h5>
    </div>

    <div class="m-edit-approvalDetail-failUpLoad">
      <p class="m-edit-approvalDetail-failUpLoad-title">
        <span class="m-form-need"></span>附件信息</p>
      <div class="m-select m-edit-approvalDetail-select-style1">
        <ul class="m-enclosure">
          <li class="uploaded" *ngFor="let item of attachmentList; index as i">
            <i class="iqon-enclosure"></i>
            <span class="filename" (click)="seeFileUpLoad(item.AccessoryURL)">
              {{item.AccessoryName}}
            </span>
          </li>
        </ul>
      </div>
    </div>

  </div>



  <div class="m-commonly-btn" *ngIf="commitmentData.ReachStatus!=='已达成'">
    <button class="m-btn-warn" (click)="getReachState('是')" [disabled]='isDisabled' [ngClass]="{'m-disabled':isDisabled}">特批达成</button>
    <button class="m-btn-success" (click)="onReach()"  [disabled]='isDisabled' [ngClass]="{'m-disabled':isDisabled}">达成承诺</button>
    <button class="m-btn-confirm" (click)="getReachState('冻结')" [disabled]='isDisabled' [ngClass]="{'m-disabled':isDisabled}">冻结</button>
    <button class="m-btn-cancel" (click)="getReachState('未达成')">解除冻结</button>
    <button class="m-btn-cancel2 m-btn-width" (click)="cancle()">关闭</button>
  </div>

  <div class="m-commonly-btn" *ngIf="commitmentData.ReachStatus==='已达成'">
    <button type="button" class="m-btn-cancel" (click)="cancle()">关闭</button>
  </div>


</div>