<div class="">
    <div style="position:absolute;height:100%;">
      <div class="g-list">
          <left-nav></left-nav>
      </div>
    </div>

    
    <div style="height:100%;padding:20px 20px 20px 305px;">
        <div class="" style="margin-bottom:10px;line-height: 45px;">
            <iq-breadcrumb></iq-breadcrumb>
            <!--<button class="m-btn m-btn-second-1 pull-right">新建模板申请</button>-->
            <!--<a class="pull-right" [routerLink]="['/contpl/creat']">新建模板申请</a>-->
            <a class="pull-right" href="/contpl/creat">新建模板申请</a>
        </div>
        <div class="block-white">
          <span>合同模板列表</span>
        </div>
        <div class="">
          <span>分页</span>
            <!--<iq-pager [data]="pagerData" (onChooseNo)="getChangeNo($event)"></iq-pager>-->
        </div>
    </div>
</div>
