@import '../../../../../sass/base/variables';
@import '../../../../../sass/base/util';
.m-search-open{
  position: relative;
  float: right;
  padding: 18px 25px;
  background-color: $def-color3;
  color: $def-main-color;
  box-shadow: 0 -2px 3px rgba( 0, 0, 0, .15);
  cursor: pointer;
}
.m-search-more{
  float: left;
  width: 100%;
  background-color: $def-color3;
  box-shadow: 0 0 5px rgba( 0, 0, 0, .15);

  .form{
    padding: 15px 25px;
    @extend %box-flex;
  }
  .m-search-btn{
      width: 100%;
      text-align: center;
      button{
          width: 78px;
      }
  }
  .m-search-item{
      display: inline-block;
      margin-bottom: 10px;
      width: 30%;
      label{
          display: inline-block;
          width: 28%;
          margin-right: 5px;
          text-align: right;
      }
      input{
          display: inline-block;
          width: 68%;
      }
  }
  .m-search-data{
      display: inline-block;
      margin-bottom: 10px;
      width: 50%;
      label{
          display: inline-block;
          width: 17%;
          margin-right: 5px;
          text-align: right;
      }
      .m-data-box{
          display: inline-block;
          width: 40%;
      }
  }
  /deep/ .m-datepicker-comb{
    display: inline-block;
  }
}
/deep/ .loading-container .loading-backdrop{
    background-color: inherit !important;
}
.table{

  tr{
    cursor: auto;
  }

  th,td{
    &:nth-child(1){
      width:15%;
    }
    &:nth-child(2){
      width:90px;
    }
    &:nth-child(3){
      width:28%;
    }
    &:nth-child(4){
      width:90px;
    }
    &:nth-child(5){
      width:120px;
    }
    &:nth-child(6){
      width:100px;
    }
    &:nth-child(7){
      width:130px;
    }
    &:nth-child(8){
      width: 65px;
      text-align: center;
    }
  }
}

//点击文字样式
.clickText{
  text-decoration: underline;
  cursor: pointer;
  &:hover{
      color:#70B7F3;
  }
}
