<div class="g-hdp g-hdp1">
    <div class="g-content">
        <p class="txt-title">{{name}}</p>
        <div class="m-top">
            <div class="inland"><a href="javascript:void(0)">国内销售合同</a></div>
            <div class="overseas"><a href="javascript:void(0)">海外销售合同</a></div>
        </div>
        <div class="m-nav">
            <ul>
                <li>硬件合同</li>
                <li>硬件合同</li>
                <li>硬件合同</li>
                <div class="slider"></div>
            </ul>
        </div>
        <div class="m-uls">
            <ul class="aside-uls">
                <li>
                    <h3>硬件合同通用版</h3>
                    <ul>
                        <li>只有该事业部人可见</li>
                        <li> 发的好看</li>
                        <li>发大水进口量附加费大的卡萨</li>
                    </ul>
                </li>
                <li>
                    <h3>硬件合同通用版</h3>
                    <ul>
                        <li>只有该事业部人可见</li>
                        <li> 发的好看</li>
                        <li>发大水进口量附加费大的卡萨</li>
                    </ul>
                </li>
                <li>
                    <h3>硬件合同通用版</h3>
                    <ul>
                        <li>只有该事业部人可见</li>
                        <li> 发的好看</li>
                        <li>发大水进口量附加费大的卡萨</li>
                    </ul>
                </li>
                <li>
                    <h3>硬件合同通用版</h3>
                    <ul>
                        <li>只有该事业部人可见</li>
                        <li> 发的好看</li>
                        <li>发大水进口量附加费大的卡萨</li>
                    </ul>
                </li>
                <li>
                    <h3>硬件合同通用版</h3>
                    <ul>
                        <li>只有该事业部人可见</li>
                        <li> 发的好看</li>
                        <li>发大水进口量附加费大的卡萨</li>
                    </ul>
                </li>
                <li>
                    <h3>硬件合同通用版</h3>
                    <ul>
                        <li>只有该事业部人可见</li>
                        <li> 发的好看</li>
                        <li>发大水进口量附加费大的卡萨</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="on-off">
            <i class="iqon-angle-up ups"></i>
        </div>
        <div class="private-coll">
            <div class="coll-serch">
                <p class="txt-title txt-title1">我的私藏</p>
                <div class="m-search seachs">
                    <i class="iqon-query querys"></i>
                    <input type="text" name="" placeholder="搜索模板名称...">
                </div>
            </div>
            <ul class="squre">
                <li>
                    <div class="close-btn">
                        <i class="iqon-close2 close"></i>
                        <div class="popover">
                            <div class="arrow"></div>
                            <p>删除</p>
                        </div>
                    </div>
                    <p>北京信息科技有限公司硬件销售</p>
                </li>
                <li>
                    <div class="close-btn">
                        <i class="iqon-close2 close"></i>
                        <div class="popover">
                            <div class="arrow"></div>
                            <p>删除</p>
                        </div>
                    </div>
                    <p>北京信息科技有限公司硬件销售</p>
                </li>
                <li>
                    <div class="close-btn">
                        <i class="iqon-close2 close"></i>
                        <div class="popover">
                            <div class="arrow"></div>
                            <p>删除</p>
                        </div>
                    </div>
                    <p>上海泽成网络有限、公司硬件IBM、服务器产品销售合同</p>
                </li>
            </ul>
        </div>
    </div>
     <!--弹框-->
         <ul class="m-dropdown-options">
            <li>
                <h4>合同用印</h4>
                <ul class="inside-uls">
                    <li><i class="iqon-direct-right iqon-direct-right1"></i>销售合同用印</li>
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                </ul>
            </li>
            <li>
                <h4>合同用印</h4>
                <ul class="inside-uls">
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                    <li>销售合同用印xdd</li>
                    <li>销售合同用印</li>
                </ul>
            </li>
            <li>
                <h4>合同用印</h4>
                <ul class="inside-uls">
                    <li>销售合同用印dd</li>
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                </ul>
            </li>
            <li>
                <h4>合同用印</h4>
                <ul class="inside-uls">
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                </ul>
            </li>
            <li>
                <h4>合同用印</h4>
                <ul class="inside-uls">
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                </ul>
            </li>
            <li>
                <h4>合同用印</h4>
                <ul class="inside-uls">
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                    <li>销售合同用印</li>
                </ul>
            </li>
        </ul>
</div>
