<!-- <div class="frame-wrap page">
    <div class="page-size">
        显示:
        <a [ngClass]="{'active':pageSize == 10}" (click)="changePageSize(10)">10</a>
        <a [ngClass]="{'active':pageSize == 20}" (click)="changePageSize(20)">20</a>
        <a [ngClass]="{'active':pageSize == 50}" (click)="changePageSize(50)">50</a>
        条/页
    </div>
    <div class="page-all">
        共{{data.pageAllNum}}条
    </div>
    <div class="pagination">
        <ul>
            <li><a (click)="changePage('pre')">上</a></li>
            <li (click)="changePage(item.page)" [ngClass] = "{'active': item.page==data.pageNo}" *ngFor="let item of pageData; let i = index">
                <a *ngIf="item.page != -1">{{item.page}}</a>
                <span *ngIf="item.page == -1">&nbsp;&nbsp;...&nbsp;&nbsp;</span>
            </li>
            <li><a (click)="changePage('next')">下</a></li>
        </ul>
    </div>
    <div class="page-go">
        到第 <input type="text" [(ngModel)]="pageNo" > 页
        <button type="button" class="btn btn-info" (click)="changePage(pageNo)">确定</button>
    </div>
</div>
 -->