.map-site{
  height: calc(100vh - 61.5px);
  background: #fff;
  overflow: auto;

  .map-wrap{
    margin: 0 auto;
    width: 910px;
  }

  h1{
    margin: 30px 0;
    font-size: 16px;
    line-height: 34px;
  }

  .map-list{
    >ul.map-list-left,>ul.map-list-right{
      width: 400px;

      >li{
        >a.map-module{
          color: #57b9f8;
          font-size: 18px;
          line-height: 30px;
        }

        >ul{
          padding: 20px 15px;
          border-top: 1px solid #57b9f8;
          font-size: 0;

          >li{
            display: inline-block;
            width: 185px;
            line-height: 30px;
            font-size: 12px;

            >i{
                display: inline-block;
                width: 20px;
                height: 20px;
                line-height: 18px;
                vertical-align: middle;

              &:hover{
                color: #57b9f8;
                cursor: pointer;
              }
            }

            >a{color: #4a4a4a;}
          }
        }
      }
    }
    >ul.map-list-left{
      float: left;
    }
    >ul.map-list-right{
      float: right;
    }
  }

  .map-btn{
    margin-top: 50px;
    text-align: center;
  }
}