<div class="g-hdp">

    <div class="g-list">
        <div class="m-user-nav">
            <ul class="m-usertree">
                <li routerLinkActive="active">       
                    <a routerLink="/mate/m-c"><i class="iqon-ordinary"></i> 一般物料申请</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/mate/m-rs"><i class="iqon-flesh"></i> 返款服务申请</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/mate/m-at"><i class="iqon-modal"></i> 物料申请模版</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/mate/m-dm"><i class="iqon-main-data"></i>物料主数据修改</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/mate/m-ep"><i class="iqon-highsearch"></i> 扩展平台维护</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/mate/m-em"><i class="iqon-extend"></i> 扩展物料</a>
                </li>
                <!-- <li routerLinkActive="active">
                    <a routerLink="/mate/m-bcm"><i class="iqon-create"></i> 批量创建物料</a>
                </li> -->
                <li routerLinkActive="active">
                    <a routerLink="/mate/m-cm"><i class="iqon-eachother"></i> 物料变更</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/mate/m-ma-hw"><i class="iqon-colplates"></i> 华为物料维护</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/mate/m-batch-material-price-list"><i class="iqon-advertise"></i> 批量维护物料批次价格</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/mate/m-batch-material-creat"><i class="iqon-advertise"></i> 批量创建物料</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="g-right">
        <router-outlet></router-outlet> 
    </div>
    
    
</div>


