table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #d2d8e0;
    border-collapse: collapse;
    width: 100%;
}
table.gridtable th {
    background: #fff;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #d2d8e0;
    text-align: center;
}
table.gridtable td {
    background: #fff;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #d2d8e0;
    text-align: center;
}