<div class="login">
  <div class="login-logo"></div>
  <div class="login-main">
    <div class="login-bg"></div>
    <form class="login-form" (keyup.enter)="login()">
      <p>D-BOMS系统登录</p>
      <div class="form-group">
        <input type="text" [(ngModel)]="userInfo.username" name="username" placeholder="帐号">
      </div>
      <div class="form-group">
        <input class="m-input" type="password" [(ngModel)]="userInfo.password" name="password" placeholder="密码">
      </div>
      <a class="btn btn-success" (click)="login()">登录</a>
    </form>
  </div>
</div>
