<div class="g-hdp">

    <div class="g-list"> 
        <ul class="m-usertree">
           <li routerLinkActive="active">     
              <a routerLink="/procurement/new-procurementApply">新建采购申请</a>
           </li>
           <li routerLinkActive="active">     
              <a routerLink="/procurement/new-procurementOrder">新建采购订单</a>
           </li>
           <li routerLinkActive="active">     
              <a routerLink="/procurement/procurement-apply">采购申请跟踪</a>
           </li>
           <li routerLinkActive="active">
               <a routerLink="/procurement/procurement-order">采购订单跟踪</a>
           </li>
           <li routerLinkActive="active">
               <a routerLink="/procurement/procurementTpl-list">采购模板</a>
           </li>
           <li routerLinkActive="active">
                <a routerLink="/procurement/erporderchange-apply">采购订单修改</a>
            </li>
        </ul>
    </div>

     <div class="g-right">
        <router-outlet></router-outlet> 
     </div>
    
</div>


