.container h4{
    color: #57b9f8
}
.table-title{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}
.margin-top{
    margin-top: 20px;
}
.cursor{
    cursor:pointer;
}
.addApp-ch-after .m-info-table tbody {
    padding-bottom: 1px;
}