.span-text {
    font-size: 12px;
    line-height: 34px;
    text-align: right;
    display: inline-table;
    margin-left:10px;
}
.m-info-table > thead > tr > th {
    height: 30px;
    border: 1px solid #ddd;
    padding: 0 8px;
    text-align: center;
}
.m-clearfix:after{
     content:".";        
     display:block;        
     height:0;        
     clear:both;        
     visibility:hidden;        

}