.main{
    height: 100%;
    /*padding-top: 62px;*/
    .m-home-page .m-home-pageL {
        width: 250px;
        .m-user-nav {
            position: relative;
            float: left;
            width: 248px;
            background-color: #fff;
            .m-usertab, .m-user-nav .m-userimg {
                margin: 0 auto;
                width: 248px;
            }
            .m-usertree {
                padding-top: 10px;
                a{
                    cursor: pointer;
                }
            }
        }
    }
    /*.m-home-page .m-home-pageR {
        position: absolute;
        padding-left: 250px;
    }*/
}

