<div class="m-overclass">
  <div class="m-list-menu">
    <ul class="m-state">
      <li [ngClass]="{'active' : query.TaskStatus=='0'}" (click)="onTab('待我审批')">待我审批</li>
      <li [ngClass]="{'active' : query.TaskStatus=='1'}" (click)="onTab('我已审批')">我已审批</li>
      <li [ngClass]="{'active' : query.TaskStatus=='2'}" (click)="onTab('全部')">全部</li>
    </ul>
    <div class="m-search-all" [ngClass]="{'hide': highSearchShow}">
      <div class="m-search-high" (click)="highSearchShow=true">
        <i class="iqon-highsearch"></i> 高级搜索
      </div>
    </div>

    <!-- 高级搜索 -->
    <div class="m-search-open" [ngClass]="{'hide': !highSearchShow}" (click)="highSearchShow = false">
      收起高级搜索
    </div>
    <div class="m-search-more" [ngClass]="{'hide': !highSearchShow}">
      <div class="form">
        <div class="m-search-item">
          <label>本部</label>
          <ng-select class="addApp-form-input" name="taxrate" [items]="selector.Platform" placeholder="请选择" (selected)=getPlatform($event) [(ngModel)]=activePlat></ng-select>
        </div>
        <div class="m-search-item">
          <label>事业部</label>
          <ng-select class="addApp-form-input" name="taxrate" (selected)=getSYBMC($event) [items]="selector.Busform" placeholder="请选择" [(ngModel)]=activeBus></ng-select>
        </div>
        <div class="m-search-item">
          <label>申请人</label>
          <input type="text" [(ngModel)]="query.User">
        </div>
        <div class="m-search-item">
          <label>采购申请类型</label>
          <div class="m-select">
            <i class="iqon-xia"></i>
            <select [(ngModel)]="query.RequisitionType">
              <option value="">全部</option>
              <option value="合同单采购">合同单采购</option>
              <option value="预下单采购">预下单采购</option>
              <option value="备货单采购">备货单采购</option>
            </select>
          </div>
        </div>
        <div class="m-search-item">
          <label>供应商名称</label>
          <input [(ngModel)]="query.Vendor" type="text">
        </div>
        <div class="m-search-item">
          <label>需求跟踪号</label>
          <input [(ngModel)]="query.TraceNo" type="text">
        </div>
        <div class="m-search-item">
          <label>申请是否修改</label>
          <div class="m-select">
            <i class="iqon-xia"></i>
            <select [(ngModel)]="query.IsModify">
              <option value="">全部</option>
              <option value="1">是</option>
              <option value="0">否</option>
            </select>
          </div>
        </div>
        
        <div class="m-search-item">
          <label>申请是否生成订单</label>
          <div class="m-select">
            <i class="iqon-xia"></i>
            <select [(ngModel)]="query.Is2ERP">
              <option value="">全部</option>
              <option value="1">是</option>
              <option value="0">否</option>
            </select>
          </div>
        </div>
        <!-- 新增 -->
        <div class="m-search-item">
          <label>厂商PO号</label>
          <input [(ngModel)]="query.PO" type="text">          
        </div>

        <div class="m-search-item">
          <label>项目名称</label>
          <input [(ngModel)]="query.ProjectName" type="text">          
        </div>

        <div class="m-search-item"></div>
        <div class="m-search-item m-search-items">
          <label>申请日期</label>
          <div class="m-datepicker-comb">
            <div class="m-datepicker-start">
              <my-datepicker [(ngModel)]="query.StartAddTime" format="YYYY-MM-DD" [EndDate]="query.EndAddTime" PlaceHolder="-请选择开始日期" name="BeginDate"></my-datepicker>
            </div> ~
            <div class="m-datepicker-end">
              <my-datepicker [(ngModel)]="query.EndAddTime" format="YYYY-MM-DD" [StartDate]="query.StartAddTime" PlaceHolder="-请选择结束日期" name="EndDate"></my-datepicker>
            </div>
          </div>
        </div>
        <div class="m-search-btn">
          <button type="button" class="m-btn-confirm research" (click)="search()">搜索</button>
          <button type="button" class="m-btn-default resets" (click)=reset()>重置</button>
        </div>
      </div>
    </div>
  </div>

  <div class="m-card-cont">
    <div class="m-noresult" [ngClass]="{'hide':searchList && searchList.length > 0}">
          <loading [show]="loading"></loading>
           <!-- 数据缺省 -->
          <div class="m-noresult-msg">
              <i class="iqon-query"></i>
              <p class="m-noresult-notice">暂无相关数据</p>
              <p class="m-p-notice">点击“新建”新建数据吧~</p>
          </div>
    </div>
    <div [ngClass]="{'hide':searchList && searchList.length == 0}">
      <!-- 1、待我审批 -->

      <div *ngIf="query.TaskStatus=='0'" style="overflow-x:auto">
        <table class="table table-hover table-list" style="table-layout:auto;">
          <thead>
            <tr>
              <th> 
                申请单号
              </th>
              <th>需求跟踪号</th>
              <th>销售合同号</th>
              <th>项目名称</th>
              <th>采购申请类型</th>
              <th>供应商</th>
              <th>采购金额</th>
              <th>当前环节</th>
              <th>申请人</th>
              <th>厂商PO号</th>
              <th>
                申请日期
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of searchList;let i=index" style="cursor: auto;">
              <td title="{{ list.RequisitionNum }}">
                <span (click)=routerJump(0,list.taskTableURL,list.RequisitionType) class="list-first-td">{{ list.RequisitionNum }}</span>
              </td>
              <td title={{list.TrackingNumber}}>
                  {{ list.TrackingNumber }}
              </td>
              <td title={{list.MainContractCode}}>
                  {{ list.MainContractCode }}
              </td>
              <td>
                  {{list.ProjectName}}
              </td>
              <td title={{list.RequisitionType}}>
                {{ list.RequisitionType }}
              </td>
              <td title={{list.Vendor}}>
                {{ list.Vendor }}
              </td>
              <td title={{list.TaxInclusiveMoney}}>
                {{ list.TaxInclusiveMoney | number:"1.2"}}
              </td>
              <td>
                {{ list.currentapprove }}
              </td>
              <td>
                {{ list.proposer }}
              </td>
              <td>
                {{list.PO}}
              </td>
              <td>
                {{ list.applydate | iqDate:'YYYY-MM-DD'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 2、我已审批 -->
      <div *ngIf="query.TaskStatus=='1'" style="overflow-x:auto">
        <table class="table table-hover table-list" style="table-layout:auto;">
          <thead>
            <tr>
              <th>
                申请单号
              </th>
              <th>需求跟踪号</th>
              <th>销售合同号</th>
              <th>项目名称</th>
              <th>采购申请类型</th>
              <th>供应商</th>
              <th>采购金额</th>
              <th>当前环节</th>
              <th>当前审批人</th>
              <th>申请人</th>
              <th>厂商PO号</th>
              <th>
                申请日期
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of searchList;let i=index" style="cursor: auto;">
              <td title="{{ list.RequisitionNum }}">
                <span (click)=routerJump(1,list.taskTableURL,list.RequisitionType) class="list-first-td">{{ list.RequisitionNum }}</span>
              </td>
              <td title={{list.TrackingNumber}}>
                  {{ list.TrackingNumber }}
                </td>
                <td title={{list.MainContractCode}}>
                  {{ list.MainContractCode }}
                </td>
                <td>
                    {{list.ProjectName}}
                </td>
              <td title={{list.RequisitionType}}>
                {{ list.RequisitionType }}
              </td>
              <td title={{list.Vendor}}>
                {{ list.Vendor }}
              </td>
              <td title={{list.TaxInclusiveMoney}}>
                {{ list.TaxInclusiveMoney | number:"1.2"}}
              </td>
              <td>
                {{ list.currentapprove }}
              </td>
              <td title={{list.currentapproveId}}>
                {{ list.currentapproveId }}
              </td>
              <td>
                  {{ list.proposer }}
              </td>
              <td>
                {{list.PO}}
              </td>
              <td>
                {{ list.applydate | iqDate:'YYYY-MM-DD'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 3、全部列表 -->
      <div *ngIf="query.TaskStatus=='2'" style="overflow-x:auto">
        <table class="table table-hover table-list" style="table-layout:auto">
          <thead>
            <tr>
              <th>
                申请单号
              </th>
              <th>需求跟踪号</th>
              <th>销售合同号</th>
              <th>项目名称</th>
              <th>采购申请类型</th>
              <th>供应商</th>
              <th>采购金额</th>
              <th>当前环节</th>
              <th>当前审批人</th>
              <th>申请人</th>
              <th>厂商PO号</th>
              <th>
                申请日期
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of searchList;let i=index" style="cursor: auto;">
                <td title="{{ list.RequisitionNum }}">
                  <span (click)=routerJump(2,list.taskTableURL,list.RequisitionType) class="list-first-td">{{ list.RequisitionNum }}</span>
                </td>
              <td title={{list.TrackingNumber}}>
                  {{ list.TrackingNumber }}
                </td>
                <td title={{list.MainContractCode}}>
                  {{ list.MainContractCode }}
                </td>
                <td>
                  {{list.ProjectName}}
                </td>
              <td title={{list.RequisitionType}}>
                {{ list.RequisitionType }}
              </td>
              <td title={{list.Vendor}}>
                {{ list.Vendor }}
              </td>
              <td title={{list.TaxInclusiveMoney}}>
                {{ list.TaxInclusiveMoney | number:"1.2"}}
              </td>
              <td>
                {{ list.currentapprove }}
              </td>
              <td title={{list.currentapproveId}}>
                {{ list.currentapproveId }}
              </td>
              <td>
                  {{ list.proposer }}
              </td>
              <td>
                {{list.PO}}
              </td>
              <td>
                {{ list.applydate | iqDate:'YYYY-MM-DD'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <iq-pager [data]="pagerData" (onChange)="onChangePager($event)"></iq-pager>
    </div>
  </div>
</div>