.m-list-menu .m-search-all .m-search {
    display: inline-block;
    vertical-align: top;
    width: 245px;
}

.m-noresult {
    position: relative;
    min-height: 200px;
    background: #fff;
}
.iqon-add{
    color: #fff !important;
}
.m-home-page .m-home-pageR .m-table-right .table-auto-content{
    
  width: 100%;
}

	.m-home-default{
    margin: 20px 0;
}

.m-scan-body .m-scan-default .m-scan-logo {
    background-color: #57b9f8;
    margin-bottom: 30px;
    color: #ffffff;
    
    
}

.m-scan{ 
    margin-bottom: 30px;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}
.m-scan-logo i{
    display: inline-block;
    margin-top: 35px;
    font-size: 30px;
}
.m-scan .m-scan-body .m-scan-default {
    margin-top: 125px;
    margin-bottom: 125px;
    text-align: center;
}
.m-home-page .m-home-pageL {
    min-height: 600.5px;
    position: inherit;
}
