

.m-promised-p{
  display: inline-block;
}

.m-edit-approvalDetail-form{
  height: 30px;
}

.m-edit-promised-ncp-form-row {
  width: 49%;
  margin-top: 10px;
  position: relative;
  text-align: right;

  .m-edit-promised-ncp-form-title {
    display: inline-block;
    padding: 0 10px 0 0;
    font-weight: bold;
  }
}

.m-ul-promised{
  line-height: 25px;
}