.m-wrap{
  margin: 0 auto;
  padding-bottom: 30px;
  width: 75%;

  h3{
    margin-bottom: 20px;
    padding-top: 30px;
    font-size: 16px;
  }

  .m-extend{
    padding: 0 25px;
    height: 60px;
    line-height: 60px;
    background: #fff;

    .m-extend-radio{
      display: inline-block;
      margin-left: 30px;

      >span{
        margin-left: 5px;
      }
    }
  }

  .m-nodata{
    position: relative;
    margin: 15px 0;
    width: 100%;
    height: 300px;
    background: #fff;

    .m-nodata-center{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 180px;
      height: 185px;
      text-align: center;
      
      .iqon-close{
        display: inline-block;
        width: 90px;
        height: 90px;
        line-height: 90px;
        font-size: 40px;
        border-radius: 50%;
        color: #fff;
        background: #57b9f8;
      }

      .line1{
        margin: 25px 0 20px;
        font-size: 20px;
      }

      .line2{
        color: #a8b1bd;
        font-size: 16px;
      }
    }
    
  }

  .m-table{

    .m-table-btn{
      margin-top: 10px;
      text-align: right;

      .m-btn-text{
        color: #57b9f8;
      }

      /deep/ .m-fileupload{
        vertical-align: middle;
      }
    }

    >form{
      padding: 15px 25px;
      background: #fff;

      .m-materiel-code{
        margin-bottom: 15px;
        .m-input-wrap{
          margin: 0 5px 0 15px;
          width: 370px;
        }

        .m-btn-confirm{
          width: 78px;
        }
      }

      .table{
        table-layout: auto;
        border-collapse: collapse;
        font-size:12px;

        thead{
          background: #f5f7fa;
        }

        tbody>tr>td{
          padding: 4px;
          vertical-align: middle;
        }

        .operate{
          text-align: center;
          
          >span{
            color: #57b9f8;
            cursor: pointer;

            &.disabled{
              color: #ccc;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }

  .m-btn{
    margin-top: 15px;
    text-align: center;

    button[disabled]{
      background: #d2d8e0;
      cursor: not-allowed;
    }
  }

}

.m-tips-font{
  color: red;
  padding:0 0 0 10px;
}

.m-edit-materile-history{
  margin-top:15px;
}