.m-center{
    th{
        text-align: center;
    }
    td{
        text-align: center;
    }
}
.width65{
	width:65px;
}
.width100{
	width:100px;
}
.width150{
	width:150px;
}
.m-bordertop{
	border-top: 1px solid #ddd;
}
    