.iqon-add{
    color: #fff!important;
}
.isHide{
    display: none;
}

 .iqon-report,.iqon-right, .iqon-more{
      display: block;
      margin: 0 auto;
      width: 90px;
      height: 90px;
      text-align:center;
      line-height: 90px;
      font-size: 54px;
      color: #fff;
      background:#57b9f8;
      border-radius:50%;
 }