<div class="g-hdp">

    <div class="g-list">
        <div class="m-user-nav">
            <ul class="m-usertree">
                <li routerLinkActive="active">       
                    <a routerLink="/ruleconfiguration/contractrule-list"><i class="iqon-ordinary"></i> 销售合同规则配置</a>
                </li>
                <li routerLinkActive="active">       
                    <a routerLink="/ruleconfiguration/purchase-application-list"><i class="iqon-ordinary"></i> 采购申请规则配置</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="g-right">
        <router-outlet></router-outlet> 
    </div>
    
</div>


