.m-exm-item{
  overflow: hidden;
  width: 100%!important;
	.info-uls{
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		width: 100%;
		height: 30px;
		.m-edit-supplier-asc-form{
			display: flex;
			line-height: 25px;
			label{
				width: 75px;
		    	text-align: left;
		    	margin-right: 15px;
		    	span{
		    		color:red;
		    	}
			}
			.m-user-info{
				margin-right: 20px;
				padding: 0;
				.m-user-noimg{
					background-color: #ef9051;
				}
			}
			.m-user-change{
				margin-top: 8px;
			}
			&:nth-child(2){
			    margin-left: 5px;
			}
		}
		.m-edit-supplier-asc-form{
			width: 49.5%;
			input{
				width: 80%;
			}
			iq-select{
				width: 82%;
			}
		}
	}
	.m-btn-refer{
		width: 80px;
	    height: 34px;
	    line-height: 34px;
	    padding:0 15px;
	    margin-top: 15px;
		 //margin-left: 830px;
		float:right;
	    
	}
	.m-info-table{
		width: 100%;
		font-size: 12px;
		table-layout: fixed;
		td{
			padding: 0 8px;
			line-height: 40px;
			white-space: nowrap;/*控制单行显示*/
			overflow: hidden;/*超出隐藏*/
			text-overflow: ellipsis;/*隐藏的字符用省略号表示*/
			/deep/ .select-search{
			vertical-align: middle;
			width: 93%;
				

				.select-modal{
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}
			.m-select {
				select{
					height: 25px;
	    			padding: 0 8px;
    			}
    			.iqon-xia{
    				top:11px;
    			}
    			.select-modal{
    				height: 25px;
    				line-height: 25px;
    			}
			}
			input{
				line-height: 33px;
				height: 35px;
				&::-webkit-input-placeholder{color:#888;}   //Chrome,Safari
				&::-moz-placeholder{color:#888;}        //Firefox
				&:-ms-input-placeholder{color:#888;}    //IE10
			}
			 
			label{
				//margin-right:30px;
				margin-left: 5px;
			}
			.input-close{
				margin-left: 10px;
			}
			.info-inputs{
				display: flex;
				p{
					width: 50%;
					input{
						width: 60%;
	    				height: 25px;
	    				margin-right: 0px;
					}
					&:nth-child(2)>input{
						text-align: right;
					}
				}
			}
		}

		td:first-child{
			text-align: left!important;
			padding: 0 8px!important;
		}

		th:first-child{
			text-align: left!important;
			padding: 0 8px!important;
		}
	} 
}
.m-commonly-btn{
    margin: 10px auto 10px;
    text-align: center;
    button{
        margin-left:15px;
        &:last-child{
            margin-left: -15px;
        }
    }
}

form{
	width: 100%;
	display: flex;
	.apply-p-left{
		width: 82.5%;
		.m-srs{
			width: 100%;
			padding: 30px 0 20px 20px;
		
		}
	}
}


.apply-p-right{
	width: 170px;
    margin-left: 20px;
    position: absolute;
    right: 26px;
    height: 100%;
    overflow-y: auto;
}

.examineRecord{
	width:100%;
	background-color: #fff;
}

.m-cnm-title{
    color: #76BAF2;
    border-bottom: 1px solid #EEEFF4;
	margin: 0px auto 0px;
	height:45px;
    clear: both;
}
.m-cnm-title h5{
    padding: 15px 0 15px 20px;
    margin: 0;
}

.examineRecordList{
	width: 96%;
	margin: 10px auto;
	overflow: hidden;
line-height: 30px;
text-align: left;
padding: 0 0 10px 0;
}

.examineRecordList li{
	overflow: hidden;
	div{
		float: left;
		width:15%;
		line-height: 20px!important;
	}
	div:nth-child(3){
     width: 15%;
	}
	div:last-child{
      width: 55%;
	}
}

.font-style-itcode{

	color:#ABB2BD!important;

}

.examineView{
	width:100%;
	background-color: #fff;
	margin:15px auto 0!important;
	padding:0 0 10px 0;
	line-height: 20px;
}

.textareaStyle{
	width: 96%;
	height: 100px;
	margin:0 0 0 15px;
	border-radius: 5px;
	border:1px solid #E6E7ED;
}

.m-dm-title{
    color: #76BAF2;
	margin: 0px auto 0px;
	height:45px;
    clear: both;
}
.m-dm-title h5{
    padding: 15px 0 15px 20px;
    margin: 0;
}

.circleStyle{
	color: #76BAF2;
	padding:0 5px 0 0;
}

.m-select{
  width: 80%;
}

.m-dm-unEdit{

	width: 100%;
	background-color: #fff;
	overflow: hidden;
	margin: 0 0 15px 0;
	text-align: left;
	
	.m-edit-supplier-asc-form{
	  float: left;
		padding: 15px;
	  
	 }

}

.errStyle{
	position: absolute;
	top: 25px;
	right: 0;
}

.m-p-warn-style2{
	line-height: 25px!important;
	margin: -5px 0 0 0!important;
	color: #EA626E;
}

.m-p-warn-style1{
	color: #EA626E;
	text-align: right;
}

.clearButton-style{
	width:7%;
	font-size: 14!important;
	padding: 0 0 0 10px;
	cursor: pointer;
	float:right;
}
.clearButton-style:hover{
	font-size: 14!important;
	padding: 0 0 0 10px;
	color: #76BAF2;
	cursor: pointer;
}

:host/deep/.m-user-info-small user-image-head{
	display: none;
}

:host/deep/.m-user-info-small div{
	padding-left: 0!important;
}

.changeColor{
	color: #76BAF2;
}

:host/deep/.apply-opinion{//审批意见重写样式
	padding: 0px 0 20px 0;
	background-color: #fff;
	margin: 15px auto 15px;
	overflow: hidden; 
	
	.m-exm-item{
		text-align: center;
	}

	.m-exm-advice{
		padding: 0 20px;
		height: 50px;
		line-height: 50px;
		font-size: 14px;
		border-bottom: 1px solid #e1e3eb;
		color: #76BAF2;
		font-weight: 500;
		text-align: left;
	}
	
	textarea{
		width: 97%;
		margin: 15px auto 0;
	}
}

:host/deep/.m-exm-history li{
height: 25px!important;
}

.m-edit-supplier-ssd-failUpLoad{
	width: 47%;
	float: left;
	//display: inline;
	margin: 10px 0 0 0; 
	text-align: left;
	display: table;
	.m-edit-supplier-ssd-failUpLoad-title{
			padding:0 10px 0 0;
			font-weight: bold;
			width: 110px;
			display: inline-block;
			vertical-align: top;
			line-height: 30px;
	}
}
