<!--审批过程右侧fixed-->
<div class="m-step-progress2 clearfix">
    <div class="m-apply-step-pro {{applyStateStyle[applyState].applicant}}">
        <i class="{{applyStateStyle[applyState].applyIcon}}"></i>
        <span>申请人</span>
    </div>
    <div class="m-apply-step-pro {{applyStateStyle[applyState].buyer}}">
        <i class="{{applyStateStyle[applyState].buyerIcon}}"></i>
        <span>一级审批人</span>
        <!-- <div class="m-approvalView-person" [title]="approvalPerson">{{approvalPerson}}</div> -->
    </div>
    <div class="m-apply-step-pro {{applyStateStyle[applyState].buyer}}">
        <i class="{{applyStateStyle[applyState].buyerIcon}}"></i>
        <span>采购员</span>
        <!-- <div class="m-approvalView-person" [title]="approvalPerson">{{approvalPerson}}</div> -->
    </div>
    <!-- <div class="m-apply-step-pro {{applyStateStyle[applyState].end}}">
        <i class="{{applyStateStyle[applyState].endIcon}}"></i>
        <span>结束</span>
    </div> -->
    <!-- <div class="m-apply-step-pro m-apply-process">
        <i class="iqon-more"></i>
        <span>商务审核</span>
    </div>
    <div class="m-apply-step-pro m-apply-process m-apply-finish">
        <i class="iqon-more"></i>
        <span>器材过账</span>
    </div>
    <div class="m-apply-step-pro">
        <i class="iqon-more"></i>
        <span>财务发票岗</span>
    </div> -->
</div>
