.redWarn{
    color: red;
}
.m-center{
	th{
	    text-align: center !important;
	}
	td{
	    text-align: center !important;
	}
}
.width65px{
	width:65px !important;
}
.width100px{
	width:100px !important;
}