<div class="m-overclass">
  <div class="m-list-menu" >
    <ul class="m-state" (click)="onTab($event)" #tab>
      <!-- <li class="active" data-state="sExamine" #tab>审批中</li>
      <li data-state="sFinish" #tab>已完成</li>
      <li data-state="sAll" #tab>全部</li>
      <li data-state="sTemp" #tab>草稿</li> -->
      <li class="active" data-state="2">审批中</li>
      <li data-state="3">已完成</li>
      <li data-state="1">全部</li>
      <li data-state="0">草稿</li>
    </ul>

    <div class="m-search-all" [ngClass]="{'hide': highSearchShow}">
      <div class="m-search-high" (click)="openSearch()">
        <i class="iqon-highsearch"></i>
        高级搜索
      </div>
    </div>

    <!-- 高级搜索 -->
    <div class="m-search-open" [ngClass]="{'hide': !highSearchShow}" (click)="closeSearch()">
      收起高级搜索
    </div>
    <div class="m-search-more" [ngClass]="{'hide': !highSearchShow}">
      <form #form = "ngForm">
        
        <div class="m-search-item">
          <label>平台</label>
          <input type="text" name="Platform" [(ngModel)]="query.Platform" placeholder="-请填写平台">
        </div>

        <div class="m-search-item">
            <label>工厂</label>
            <!-- <div class="m-select-width-style1"> -->
               <!-- <my-select [(ngModel)]="allFactory" tabName="1" [placeHolder]="'-请选择工厂'" name="Factory"></my-select>   -->
               <input type="text" name="Factory" [(ngModel)]="query.Factory" placeholder="-请填写工厂">
            <!-- </div> -->
          </div>

        <div class="m-search-item m-search-items">
            <label>申请日期</label>
            <!-- <my-datepicker></my-datepicker> -->
            <div class="m-datepicker-comb">
              <div class="m-datepicker-start">
                <my-datepicker [(ngModel)]="query.BeginDate" format="YYYY-MM-DD" [EndDate]="query.EndDate" PlaceHolder="-请选择开始日期" name="BeginDate"></my-datepicker>
              </div> <span>~</span> 
              <div class="m-datepicker-end">
                <my-datepicker [(ngModel)]="query.EndDate" format="YYYY-MM-DD"  [StartDate]="query.BeginDate" PlaceHolder="-请选择结束日期" name="EndDate"></my-datepicker>
              </div>
            </div>
        </div>

          <div class="m-search-item m-search-clear">

            <ng-container  *ngIf="query.ApproveSection == '2'">            
              <label>审批环节</label>           
              <div class="m-select m-select-width">
                <i class="iqon-xia"></i>
                <select name="Approval" id="" [(ngModel)]="query.ApplicationState" (ngModelChange)=changeFontColor() [ngClass]="{'font-color':isChangeColor}">
                  <option value="" disabled selected class="font-color">-请选择审批环节</option>
                  <option value="1">本部审批</option>
                  <option value="2">采购运控审批</option>
                  <option value="3">财务审批</option>
                  <option value="4">物流器材会计审批</option>
                  <option value="5">销售订单号反填</option>
                </select>
              </div>             
            </ng-container>

          </div>

        <div class="m-search-btn">
          <button type="button" class="m-btn-confirm research" (click)="search()">搜索</button>
          <button type="button" class="m-btn-default resets" (click)=reset()>重置</button>
        </div>
      </form>
    </div>
  </div>

  <!-- 物料数据缺省 -->
  <div class="m-noresult" [ngClass]="{'hideStyle':isHide}">
    <div class="m-noresult-msg">
      <i class="iqon-query"></i>
      <p class="m-noresult-notice">暂无相关数据</p>
      <p class="m-p-notice">点击“新建物料变更”新建数据吧~</p>
    </div>
  </div>

  <!-- 物料数据列表 -->
  <div class="m-card-cont" [ngClass]="{'hideStyle':!isHide}">
    <div class="table-auto-content">
      <table class="table table-hover table-list">
        <thead>
          <tr>
            <th class="wp5" *ngIf="query.ApproveSection == '0'||query.ApproveSection == '1'"><input type="checkbox" allcheck="demoall" icheck [(ngModel)]="fullChecked" (onClick)="changeWidth()" [indeterminate]="fullCheckedIndeterminate" (onCount)="checkedNum = $event" (onIndeterminate)="CheckIndeterminate($event)"></th>
            <ng-container *ngIf="!fullChecked && !fullCheckedIndeterminate">
              <th class="wp5">序号</th>
              <th>申请单编号</th>
              <th>申请日期</th>
              <th>本部</th>
              <th>事业部</th>
              <th>平台</th>
              <th>工厂</th>
              <th>物料凭证号</th>
              <th *ngIf="approvalStaus">当前环节名称</th>
              <th *ngIf="approvalStaus">当前环节审批人</th>
            </ng-container>
            <ng-container *ngIf="fullChecked || fullCheckedIndeterminate">
              <th class="list-edit" colspan="10">已选{{checkedNum}}项<button type="button" (click)="deleteList(searchList)">删除</button></th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of searchList;let i=index">
            <td class="wp5" stopParentClick *ngIf="query.ApproveSection == '0'||query.ApproveSection == '1'"><input type="checkbox"  allcheckChild="demoall" [(ngModel)]="list.checked" icheck name="" [disabled]="list.ApproveSection!=='草稿'"></td>
            <td class="wp5">{{(query.PageNo-1)*query.PageSize+i+1}}</td>
            <td><span class="clickText" (click)="getDetail(list.ID,list.ApproveSection)">{{list.ChangeNo}}</span></td>
            <td>{{list.ApplyTime|iqDate:"YYYY-MM-DD"}}</td>
            <td>{{list.BBMC}}</td>
            <td>{{list.SYBMC}}</td>
            <td>{{list.Platform}}</td>
            <td>{{list.Factory}}</td>
            <td>{{list.MaterialVoucher}}</td>
            <td *ngIf="approvalStaus">{{list.ApproveSection}}</td>
            <td *ngIf="approvalStaus">{{list.ApproveName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="page">
        <iq-pager [data]="pagerData" (onChange)="onChangePager($event)"></iq-pager>
      </div>
  </div>
</div>
