:host/deep/.m-noresult{
  height: calc(100vh - 190px);
  margin-top: 10px;
}

.m-search-btn{
  float: right;
}

.m-td-warp{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width:100px;

}

:host/deep/.picker-main{
  right: 0;
}