<div class="addApp-up-file">
    <h2 style="width:60px"><i class="addApp-form-tips">*</i>附件</h2>
    <div class="addApp-file-details">
        <ul>
            <li *ngFor="let item of accessoryExamine;let i = index;">
                <i class="iqon-enclosure"></i> {{item.AccessoryName}}
                <i class="iqon-close2" (click)="removeItem(item)"></i>
            </li>
            <li><a href="javascript:;" class="addApp-upload-file"><i class="iqon-enclosure"></i>上传附件<input  id="sellerFile" type="file" ng2FileSelect [uploader]="upLoadECFile" (change)="onUploadFiles(upLoadECFile)" /></a></li>
        </ul>
    </div>
</div>