
.m-edit-supplier-ssd{
  
      margin:80px auto 0;
      width: 75%;
      h4{
          margin: 20px auto;
          font-size: 16px;
      }
      .m-commonly-btn{
          margin: 10px auto 10px;
          text-align: center;
      }
      .m-edit-supplier-ssd-form{
          width: 45%;
          margin-left: 45px;
          position: relative;
          height: 25px;
          .m-edit-supplier-ssd-form-title{
              display: inline-block;
              padding:0 10px 0 0;
              font-weight: bold;
          }
      }
  }
  
  .m-edit-supplier-ssd-content{
      padding:10px 0 10px 0;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
     .m-edit-supplier-ssd-form{  
          width: 45%;    
      }
  
  }
  
  .m-edit-supplier-ssd-content1{
      padding:0px 0 20px 0;
      background-color: #fff;
      margin: 15px auto 0;
      overflow: hidden;
      
      .m-edit-supplier-ssd-form{
          width: 47%;
          float: left;
          //display: inline;
          margin: 10px 0 0 21px; 
          text-align: left;
          .m-edit-supplier-ssd-form-title{
              padding:0 10px 0 0;
              font-weight: bold;
              width: 110px;
              text-align: right;
              vertical-align: top;
          }
      }

      .m-edit-supplier-ssd-failUpLoad{
        width: 100%;
        float: left;
        //display: inline;
        margin: 10px 0 0 21px; 
        text-align: left;
        display: table;
        .m-edit-supplier-ssd-failUpLoad-title{
            padding:0 10px 0 0;
            font-weight: bold;
            width: 110px;
            display: inline-block;
            vertical-align: top;
            line-height: 30px;
            text-align: right;
        }
    }
  }
  
  .m-edit-supplier-ssd-select-style1{
      display: inline-block;
      width: 75%;
      text-align: left;
      word-wrap: break-word;
      span{
        padding: 0 10px 0 2px;
      }
  }

  .m-edit-supplier-ssd-select{
    display: inline-block;
    width: 75%;
    text-align: left;
    position: relative;

    select{
      width: 100%;
      line-height: 30px;
      border: 1p solid #888!important;
      height: 30px!important;
    }
    input{
      width: 100%;
      line-height: 30px;
      border: 1p solid #888!important;
      height: 30px!important;
    }
    .iqon-xia{
        top:10px!important;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
      }
    .m-edit-companyList{
      position: absolute;
      border: 1px solid #888;
      background-color: #fff;
      width: 100%;
      height: 200px;
      z-index: 100;
    }
  }

  .m-edit-supplier-ssd-padding{
      padding:0 0 0 20px;
  }
  .m-edit-supplier-ssd-title{
      color: #76BAF2; 
      border-bottom: 1px solid #EEEFF4;
      margin: 0px auto 0px;
      clear: both;
  }
  .m-edit-supplier-ssd-title h5{
      padding: 15px 0 15px 20px;
      margin: 0;
  }
  
  .inline-style{
      display: inline-block;
  }
  
  .m-form-need{
       color:red;
       font-size: 13px;
   }
  
  .m-edit-supplier-ssd-input{
      width: 75%;
      display: inline-block;
  }
  
  .m-edit-supplier-ssd-yuan{
      position: relative;
  }
  
  .m-edit-supplier-ssd-yuan span{
      display: block;
      position: absolute;
      top:10px;
      right: 15px;
  }
  
  .m-edit-supplier-ssd-tips{
      text-align: right;
  }
  
  .m-edit-supplier-ssd-marginStyle{
      padding:0 0 0 58px;
  }
  .m-edit-supplier-ssd-form-titles{
      position: relative;
  }

  .m-select{
    .iqon-xia{
      top:10px!important;
    }
      select{
        height:30px!important;
      }
  }

  .m-enclosure{
    border:none!important;
    line-height: 25px!important;
    
    li{
        padding: 0!important;
    }
  }

  .m-user-ename{
      color: #AAB1BC;
  }


  
  