@import '../../../../../sass/base/variables';
@import '../../../../../sass/base/util';

// 边框颜色
$borderColor: #e2e2e2;
// 白色背景
$backColor: #fff;
// 布局
.pipeline-left-nav{
    width: 240px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    background: $backColor none repeat scroll 0 0;
    border-right: 1px solid $borderColor; 
}
.pipeline-right-list{
    padding-left: 240px;
    height: 100%;
    margin-left: 0;
    min-width: 915px;
    overflow: auto;
    position: absolute;
    width: 100% 
}
