.j-create-pop{
  position: absolute;
  left: 260px;
  top: 95px;
  width:240px;
  padding:5px 10px;
  line-height: 40px;
  z-index: 99;
  background-color: #fff;
}
.j-create-pop input{
  width:120px;
  float: right;
}
.j-pop-btn{
  text-align: center;
}
.j-pop-btn span{
  display: inline-block;
  width:60px;
  height:30px;
  margin:10px 5px 0;
  line-height: 30px;
  border:1px solid #e1e3eb;
  border-radius:3px;
  cursor:pointer;
}
.m-home-page .m-home-pageR .m-table-right .table-auto-content{
  width: 100%;
}
.iqon-add{
    color: #fff!important;
}
	.m-home-default{
    margin: 20px 0;
}

.m-scan-body .m-scan-default .m-scan-logo {
    background-color: #57b9f8;
    margin-bottom: 30px;
    color: #ffffff;
    
    
}

.m-scan{ 
    margin-bottom: 30px;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}
.m-scan-logo i{
    display: inline-block;
    margin-top: 35px;
    font-size: 30px;
}
.m-scan .m-scan-body .m-scan-default {
    margin-top: 125px;
    margin-bottom: 125px;
    text-align: center;
}
.m-home-page .m-home-pageL {
    min-height: 600.5px;
    position: inherit;
}
.m-list-menu .m-search-all .m-search {
    display: inline-block;
    vertical-align: top;
    width: 230px;
}
