.m-change-sel {
    background-color: #f5f7fa;
    ul {
        padding: 15px 20px;
        li {
            display:inline-block;
            margin-right:50px;
            line-height: 30px;
            label{
                margin-left:5px;
            }
        }
    }
}
