.datepicker-con{
  position: relative;

  .datepicker{
    display: block;
    position: absolute;
    top: 35px;
    left: 0;
    z-index:100;
  }

  .datepicker-hide {
    display: none;
  }

  >.card{
    width: 100%;
    height: 35px;
    border: 1px solid $def-link1-color;
    border-radius: 3px;

    .card-header{
      padding: 0 15px;
      line-height: 35px;
    }

  }
}

.m-datepicker{
  position: relative;
  z-index: 11;
  cursor: pointer;

  .iqon-calendar-2{
    width: 20px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    font-size: 14px;
    line-height: 35px;
    color: $def-color1;
  }
}

.m-picker{
  position: relative;
  width: 40%;
  @extend %clearfix;

  >p{
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.m-picker-warn{
  .card, .itsm-timepicker-input{
    border: 1px solid $msg-need!important;
  }
}

.visi-hid {
  visibility: hidden;
}
