 .text-default{
    font-size: 16px;
    color: #a8b1bd;
    margin-top: 20px;
}

.text-h1{
font-size: 20px;
}
.text-h2{
font-size: 16px;
font-weight: normal;
}
.text-h3{
font-size: 14px;
font-weight: normal;
color: #57b9f8;
}
.text-h4{
font-size:14px;
font-weight:normal;
}
.paragraph{
font-size:12px;
line-height: 20px;
margin-bottom: 15px;
}
.para1{
font-size:12px;
color: #a8b1bd;
}
.para2,.text-main{
font-size:12px;
color: #4a4a4a;
}
.para3{
font-size:12px;
color: #57b9f8;
}
.para4{
font-size:12px;
    color: #ea6269;
}