/* 普通输入框 */
.m-input, input[type=text]{
  padding: 0 15px;
  width: 100%;
  height: 35px;
  border: 1px solid $def-link1-color;
  border-radius: 3px;
}

/* 输入错误警示 */
input.m-input-warn{
  @extend .m-input;
  border-color: $def-warn-color!important;
}

/* 输入提示 */
input.m-input-tip{
  @extend .m-input;
  border-color: #59aeea!important;
}

/* 搜索框 */
@mixin search($height){
  position: relative;
  color: $def-font1-color;
  .iqon-query{
    position: absolute;
    right: 0;
    top: 0;
    width: $height;
    text-align: center;
    line-height: $height;
    font-size: 12px;
    color: $def-color1;
    border-left: 1px solid $def-link1-color;
    cursor: pointer;
  }

  >input{
    padding-right: $height + 2px;
    height: $height;
    line-height: $height;
  }
}
.m-search{
  @include search(30px);
}

/* 大搜索框 */
.m-search-big{
  @include search(34px);
}

/* 高级搜索 */
.m-search-high{
  position: relative;
  padding-left: 30px;
  height: 30px;
  line-height: 28px;
  font-size: 12px;
  color: $def-font1-color;
  background-color:#fff;
  border-radius: 3px;
  border:1px solid $btn-border-color;
  cursor: pointer;

  .iqon-list{
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 28px;
    color:#ccc;
    background-color: #f5f7fa;
    border-radius: 3px 0 0 3px;
    border:1px solid $def-link1-color;
  }
  .iqon-highsearch{
    position: absolute;
    left: -1px;
    top: -1px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size:16px;
    color:#ccc;
    background-color: #f5f7fa;
    border-radius: 3px 0 0 3px;
    border:1px solid $def-link1-color;
  }
}

/* 区域文本框 */
.m-textarea{
  padding: 10px 15px 14px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid $def-link1-color;
}

/*带提示输入框*/
.m-input-wrap{
  display: inline-block;
  position: relative;
  width: 100%;

  >input{
    padding-right: 30px;
    border: 1px solid $def-link1-color;
  }

  >p{
    position: absolute;
    left: 0;
  }
  .m-input-unit{
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 35px;
  }
  
  >input:focus{
    border: 1px solid #59aeea;
  }
  
}