/* 搜索框组件 */
.m-user-search{
  position: relative;
  width: 290px;

  .m-search-input{
    padding: 0 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid $def-main-color;
    border-radius: 5px;

    &:focus + .iqon-list{
      display: block;
    }
  }

  >i{
    display: none;
    position: absolute;
    right: 10px;
    top: 8px;
    color: $def-main-color;
    cursor: pointer;
  }

  .m-user-list{
    padding: 15px;

    .m-user-info>img{
      margin-left: 10px;
    }
  }
}