.m-order-number{
    z-index: 1045;
    top:35%;
    left:35%;
    width:450px;
}
.modal-body{
    height:100px;
    padding-top:15px;
}
.m-form-item{
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
}
.m-form-input{
    width: 80%;
    display: inline-block;
    margin-left: 20px;
}
.m-warn-tip{
    margin-top:5px;
    margin-left: 20px;
}
.m-order-number .modal-footer{
    margin-top: 10px;
}
