<div class="m-wrap">
  <loading [show]="loading"></loading>
  <h3>查看扩展物料详情</h3>
  <div class="m-extendMateriel-userInformation">

    <h5>扩展信息</h5>

    <div class="m-applyUse">
      <div>申请人：
        <span>{{applyName}}</span>
        <span class="m-itcode-color">{{applyItcode|lowercase}}</span>
      </div>
      <div>申请日期：
        <span>{{applyTime|iqDate:"YYYY-MM-DD"}}</span>
      </div>
      <div>扩展方式：
        <span>
          <input type="radio" name="" icheck checked [disabled]="true">扩展工厂</span>
      </div>
    </div>

  </div>

  <div class="m-table">

    <form #form="ngForm">

      <div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="wp10">物料编号</th>
              <th class="wp10">参考工厂</th>
              <th class="wp10">参考销售组织</th>
              <th class="wp10">参考库存地</th>
              <th class="wp10">扩展工厂</th>
              <th class="operate wp10">操作</th>
              <th class="wp40" [ngClass]="{'m-width-scorll-th':extendList.length>10}">失败原因</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="m-table-scorll">
        <table class="table table-bordered m-extendMateriel-table">
          <tbody>
            <tr *ngFor="let item of extendList;index as i;">
              <td class="wp10">{{item.MaterialCode}}</td>
              <td class="wp10">
                <input *ngIf="item.editAble" type="text" #ReferFactory="ngModel" [(ngModel)]="item.ReferFactory" [name]="ReferFactory+i"
                  [attr.name]="ReferFactory+i" maxlength="4" pattern="[a-zA-Z\d]{4}" required [ngClass]="{'m-input-warn':ReferFactory.invalid && (ReferFactory.touched || hasSubmited)}">
                <span *ngIf="!item.editAble">{{item.ReferFactory}}</span>
              </td>
              <td class="wp10" *ngIf="extendType == '0'">
                <input *ngIf="item.editAble" type="text" #ReferSalesOrganization="ngModel" [(ngModel)]="item.ReferSalesOrganization" [name]="ReferSalesOrganization+i"
                  [attr.name]="ReferSalesOrganization+i" maxlength="4" pattern="[a-zA-Z\d]{4}" required [ngClass]="{'m-input-warn':ReferSalesOrganization.invalid && (ReferSalesOrganization.touched || hasSubmited)}">
                <span *ngIf="!item.editAble">{{item.ReferSalesOrganization}}</span>
              </td>
              <td *ngIf="extendType == '0'" class="wp10">
                <input *ngIf="item.editAble" #ReferLocation="ngModel" [ngClass]="{'m-input-warn': ReferLocation.invalid && (ReferLocation.touched || hasSubmited) }" [(ngModel)]="item.ReferLocation" required maxlength="4" pattern="[0-9a-zA-Z]{4}" type="text" [attr.name]="'ReferLocation' + i" [name]="'ReferLocation' + i" (blur)="formatInput(i,item.ReferFactory)">
                <span *ngIf="!item.editAble">{{item.ReferLocation}}</span>
              </td>
              <td *ngIf="extendType == '0' || extendType == '1'" class="wp10">
                <input *ngIf="item.editAble" #ExtendFactory="ngModel" [ngClass]="{'m-input-warn': ExtendFactory.invalid && (ExtendFactory.touched || hasSubmited) }"
                  [(ngModel)]="item.ExtendFactory" required maxlength="4" pattern="[0-9a-zA-Z]{4}" type="text" [attr.name]="'ExtendFactory' + i"
                  [name]="'ExtendFactory' + i">
                <span *ngIf="!item.editAble">{{item.ExtendFactory}}</span>
              </td>
              <td *ngIf="extendType == '1'">
                <input *ngIf="item.editAble" [(ngModel)]="item.ExtendBatch" type="text" [attr.name]="'ExtendBatch' + item.SerialNumber" [name]="'ExtendBatch' + item.SerialNumber">
                <span *ngIf="!item.editAble">{{item.ExtendBatch}}</span>
              </td>
              <td *ngIf="extendType == '2'" class="wp10">
                <input *ngIf="item.editAble" [(ngModel)]="item.ExtendLocation" type="text" [attr.name]="'ExtendLocation' + item.SerialNumber"
                  [name]="'ExtendLocation' + item.SerialNumber">
                <span *ngIf="!item.editAble">{{item.ExtendLocation}}</span>
              </td>
              <td class="operate wp10">
                <span [ngClass]="{'disabled':item.isSucceed}" (click)="removeExtend(i)">删除</span>
              </td>
              <td class="wp40" style="color: red;text-overflow:ellipsis;white-space: nowrap; overflow:hidden" [ngClass]="{'m-width-scorll':extendList.length>10}">{{item.ExcepMsg?item.ExcepMsg.substring(0,(item.ExcepMsg.indexOf(";")!=-1?item.ExcepMsg.indexOf(";"):30)):""}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </form>
  </div>

  <!--审批历史记录-->
  <div class="m-edit-materile-history" *ngIf="wfHistory.length>0">
    <db-wfhistory [wfHistoryData]="wfHistory"></db-wfhistory>
  </div>
  <!--审批历史记录 end-->


  <!--审批按钮-->
  <div class="m-div-margin" *ngIf="isSeeDetail&&taskState==='0'&&ADP==='0'">
    <db-wfapproval [appParms]="approveData" [hasSaved]="isApproval" (onSave)="writeSupplierType()" (onApprovalComplateCallBack)="writeStorage()" (onApprovalfailCallBack)="refreshPage()"></db-wfapproval>
  </div>

  <!-- 加签审批按钮 -->
  <div *ngIf="ADP==='1'&&taskState==='0'" class="m-div-margin">
    <db-wfadp [adpAppParms]="approveData" (onApprovalComplateCallBack)="addWariteLocalStorage()"></db-wfadp>
  </div>

  <div class="m-btn" *ngIf="!isSeeDetail||taskState==='1'">
    <button type="button" class="m-btn-default" (click)="cancel()">关闭</button>
  </div>
</div>

<!-- 审批全景图 -->
<div class="apply-p-right">
  <db-wfview #wfView></db-wfview>
</div>