<header class="g-hd">
  <div class="m-logo">
    <div class="m-logoimg"></div>
    <span>D-BOMS</span>
  </div>
  <div class="m-nav">
    <div class="m-notice">
      <i class="iqon-notice"></i>
    </div>
    <div class="m-tip">
      <i class="iqon-comment-o"></i>
      <div class="m-num">67</div>
    </div>
    <div class="m-user">
      <img src="assets/default-user.png">
    </div>
  </div>
  <div class="m-search">
    <div class="m-search-2">
      <i class="iqon-query"></i>
      <input type="text" name="" placeholder="搜索合同，销售单...">
    </div>
  </div>
</header>