.editSupplierExtendClass-tips{
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  z-index: 1100;
  background-color: #fff;
  padding:0 0 30px 0;
  position: absolute;
  border-radius: 3px;

  .m-supplier-extend{

  }

  h4{
    font-size: 12px;
    color: #4a4a4a;
    padding:20px 20px 10px;
  }

  .m-supplier-select{
    width: 93%;
    margin: 0 auto;
  }

  .m-supplier-radio{
    padding:0px 20px 0;
    span{
      padding:0 15px 0 5px;
    }
  }

  .m-supplier-BU-search{
    display: flex;
    justify-content: space-between;
    width:93%;
    margin:10px auto;
    text-align: left;
    
    input{
      width: 75%;
    }

    .m-supplier-search-btn{
      width: 120px!important;
    }

  }

  .m-supplier-class-table{
    width: 93%;
    margin: 0 auto;
    border: 1px solid #DDDDDD;

    th{
      height: 35px!important;
      line-height: 35px!important;
      background-color: #F5F7FA;
      border-right: 1px solid #DDDDDD!important;
    }

    th:nth-last-child(1){
      border-right: none!important;
    }

    td{
      border-right: 1px solid #DDDDDD!important;
    }

    td:nth-last-child(1){
      border-right: none!important;
    }
  }

  .edit-page{
    margin: 10px auto 0;
    /deep/.page-size{
      display: none!important;
    }
    /deep/.page-all{
      display: none!important;
    }
  }

  .m-BU-title{
    h4{
      display: inline-block;
    }
  }

  .extendComponyTitle{
    display: flex;
  }


}
