:host/deep/.addApp-form-label{
  width: 26%;
  text-align: left!important;
}


:host/deep/.my-textarea-content{
  position: relative;
  top: 8px;
}

:host/deep/.c-form-item-view{
  .c-input-title{
    width: 27.8%!important;
    color: #4a4a4a!important;
  }
  .wp12{
    width: 14%!important;
  }

  .c-input-wrap{
    width: 65%!important;
  }
}
