.m-btn-2 {
   text-align: center;
    height: 35px;
    color: #000;
    border: none;
    border-radius: 3px;
    transition: all .7s;
    font-size: 14px;
    overflow: hidden;
    background-color: #fff;
    padding: 0 70px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    }
.btn-blue {
    background-color: #57b9f8;
    color: #fff;
}