<div>
  <loading [show]="submiting"></loading>
  <div class="apply-progress">
    <div class="apply-p-left addApply-container">
      <h1 class="apply-tit-h1">查看ND采购订单</h1>
      <!-- 基础信息 -->
      <div class="apply-p-base clearfix apply-p-infor">
        <div class="m-dialog-head">
          <span class="m-dialog-head-change progress-txt">基础信息</span>
        </div>
        <div class="m-exm-item">
          <ul>
            <li class="m-exm-half">
              <div class="m-exm-label">申请人</div>
              <div class="m-exm-cont">
                <div class="m-user-info-small">
                  <span class="m-user-name">{{NDOrderData.ApplicantName}}</span>
                  <span class="m-user-ename">{{NDOrderData.ApplicantItCode}}</span>
                </div>
              </div>
            </li>
            <li class="m-exm-half">
              <div class="m-exm-label">申请日期</div>
              <div class="m-exm-cont">{{NDOrderData.AddTime | iqDate:'YYYY-MM-DD'}}</div>
            </li>
            <li class="m-exm-half">
              <div class="m-exm-label">电话</div>
              <div class="m-exm-cont">{{NDOrderData.Telephone}}</div>
            </li>
            <li class="m-exm-half">
              <div class="m-exm-label">本部</div>
              <div class="m-exm-cont">{{NDOrderData.BBMC}}</div>
            </li>
            <li class="m-exm-half">
              <div class="m-exm-label">事业部</div>
              <div class="m-exm-cont">{{NDOrderData.SYBMC}}</div>
            </li>
            <li class="m-exm-half">
              <div class="m-exm-label">平台</div>
              <div class="m-exm-cont">{{NDOrderData.Platform}}</div>
            </li>
            <li class="m-exm-half" *ngIf="NDOrderData.ERPOrderNumber">
              <div class="m-exm-label">采购订单号</div>
              <div class="m-exm-cont">{{NDOrderData.ERPOrderNumber}}</div>
            </li>
          </ul>
        </div>
      </div>
      <!-- 采购信息 -->
      <div class="apply-p-base mt15 clearfix">
        <div class="m-dialog-head">
          <span class="m-dialog-head-change progress-txt">采购信息</span>
          <span class="m-dialog-head-change progress-txt supplier-tip" *ngIf="NDOrderData.VendorTrace==-1" >
            该采购订单供应商已过期，请事业部及时续签
          </span>
        </div>
        <div class="apply-p-infor">
          <div class="m-exm-item">
            <ul>
              <li class="m-exm-half" style="width:100%" *ngIf="NDOrderData.TemplateID">
                <div class="m-exm-label">模板名称</div>
                <div class="m-exm-cont">{{TemplateName}}</div>
              </li>
              <li class="m-exm-half">
                <div class="m-exm-label">我方主体</div>
                <div class="m-exm-cont">{{NDOrderData.CompanyName}}</div>
              </li>
              <li class="m-exm-half">
                <div class="m-exm-label">工厂</div>
                <div class="m-exm-cont">{{NDOrderData.FactoryCode}}</div>
              </li>
              <li class="m-exm-half">
                <div class="m-exm-label">供应商</div>
                <div class="m-exm-cont">{{NDOrderData.Vendor}}</div>
              </li>
              <li class="m-exm-half">
                <div class="m-exm-label">税率</div>
                <div class="m-exm-cont">{{NDOrderData.RateName}}</div>
              </li>
              <li class="m-exm-half">
                <div class="m-exm-label">币种</div>
                <div class="m-exm-cont">{{NDOrderData.Currency}}</div>
              </li>
              <li class="m-exm-half">
                <div class="m-exm-label">运输方式</div>
                <div class="m-exm-cont">{{NDOrderData.TransportMode}}</div>
              </li>
              <li class="m-exm-half">
                <div class="m-exm-label">预计销售时间</div>
                <div class="m-exm-cont">{{NDOrderData.PlanSaleTime | iqDate:'YYYY-MM-DD'}}</div>
              </li>
              <li class="m-exm-half">
                <div class="m-exm-label">收货人</div>
                <div class="m-exm-cont">{{peopleStr}}</div>
              </li>
              <li class="m-exm-half">
                <div class="m-exm-label">需求跟踪号</div>
                <div class="m-exm-cont">{{NDOrderData.TrackingNumber}}</div>
              </li>
              <li class="m-exm-half" *ngIf="NDOrderData.paymenttermscode" >
                <div class="m-exm-label">付款条款</div>
                <div class="m-exm-cont">{{NDOrderData.paymentterms}}</div>
              </li>
              <li class="m-exm-half">
                <div class="m-exm-label">折扣系数</div>
                <div class="m-exm-cont">{{NDOrderData.Discount}}</div>
              </li>
              <li class="m-exm-half">
                <div class="m-exm-label">折扣前合计金额</div>
                <div class="m-exm-cont">{{NDOrderData.PreDiscountAmount | number:"1.2"}}</div>
              </li>
              <li class="m-exm-half">
                <div class="m-exm-label">折扣后合计金额</div>
                <div class="m-exm-cont">{{NDOrderData.AfterDiscountAmount | number:"1.2"}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--采购清单 -->
      <div class="apply-finance-infor clearfix" style="margin-top: 10px">
        <div class="m-dialog-head clearfloat">
          <span class="m-dialog-head-change progress-txt">采购清单</span>
          <i class="iqon-fold" (click)="procurementListShow=!procurementListShow"></i>
        </div>
        <div *ngIf="procurementListShow">
          <div class="btn-content">
            <div class="right">
              <button class="m-btn-confirm min-btn" (click)="showOrder()">查看采购订单</button>
            </div>
          </div>
          <div class="apply-finance-l">
            <table class="m-info-table">
              <thead>
                <tr>
                  <td width="5%"></td>
                  <td width="5%"></td>
                  <td width="10%"></td>
                  <td width="3%"></td>
                  <td width="5%"></td>
                  <td width="5%"></td>
                  <td width="5%"></td>
                  <td width="8%"></td>
                  <td width="6%"></td>
                  <td width="8%"></td>
                  <td width="5%"></td>
                  <td width="6%"></td>
                  <td width="5%"></td>
                  <td width="7%"></td>
                  <td width="7%"></td>
                </tr>
                <tr class="m-infor-tr">
                  <th colspan="15" class="m-text-center change">
                    <span class="col-md-3">物料数量合计 {{procurementListPrice.numAmount}}</span>
                    <span class="col-md-3">折扣前合计金额 {{NDOrderData.PreDiscountAmount | number:"1.2"}}</span>
                    <span class="col-md-3">折扣后合计金额 {{NDOrderData.AfterDiscountAmount | number:"1.2"}}</span>
                  </th>
                </tr>
                <tr class="m-center">
                  <th>序号</th>
                  <th>物料号</th>
                  <th>物料描述</th>
                  <th>数量</th>
                  <th>成本价</th>
                  <th>系数</th>
                  <th>报关单价</th>
                  <th>折扣后报关单价</th>
                  <th>报关总价</th>
                  <th>折扣后报关总价</th>
                  <th>库存地</th>
                  <th>需求跟踪号</th>
                  <th>批次</th>
                  <th>对应NA订单号</th>
                  <th>发货存储地点</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of NDOrderData.PurchaseOrderDetails;let i = index" class="m-center">
                  <td width="5%">{{i+1}}</td>
                  <td width="5%">{{item.MaterialNumber}}</td>
                  <td width="10%" title={{item.MaterialDescription}}>{{item.MaterialDescription}}</td>
                  <td width="3%">{{item.Count}}</td>
                  <td width="5%">{{item.CostPrice}}</td>
                  <td width="5%">{{item.Discount | number:"1.2"}}</td>
                  <td width="5%">{{item.CustomsPrice | number:"1.2"}}</td>
                  <td width="8%">{{item.CustomsPriceAfterDiscount | number:"1.2"}}</td>
                  <td width="6%">{{item.CustomsSumPrice | number:"1.2"}}</td>
                  <td width="8%">{{item.CustomsSumPriceAfterDiscount | number:"1.2"}}</td>
                  <td width="5%">{{item.StorageLocation}}</td>
                  <td width="6%">{{item.TrackingNumber}}</td>
                  <td width="5%"><p style="word-wrap:break-word">{{item.Batch}}</p></td>
                  <td width="7%">{{item.NA_ERPOrderNumber}}</td>
                  <td width="7%">{{item.DeliveryStoreLocation}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--支持文件-->
      <div class="apply-finance-infor">
        <div class="m-dialog-head">
          <span class="m-dialog-head-change progress-txt">支持文件</span>
        </div>
        <div class="btP10">
          <div class="addApp-form-item">
            <label class="addApp-form-label tp20">附件文件</label>
            <ul>
              <li class="pdLi upload-show" *ngFor="let item of AccessorySee_Support;index as i">
                <i class="iqon-enclosure"></i>
                <span class="pdf cur-point" (click)="checkSeal(item.AccessoryURL)">{{item.AccessoryName}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--审批记录 -->
      <db-wfhistory [wfHistoryData]="wfData.wfHistory"></db-wfhistory>

      <!-- 审批意见 -->
      <div class="apply-opinion" *ngIf="!isView">
        <div class="m-exm-item">
          <p class="m-exm-advice">审批意见</p>
          <textarea class="m-textarea" placeholder="请填写审批意见......" [(ngModel)]="opinion" name="opinion"></textarea>
        </div>
      </div>

      <!-- 1.非-加签审批类 页面 -->
      <div class="approval-buttons" *ngIf="!isView&&!isSignApprovalPage">
        <div>
          <button class="m-btn-agree apply-agree" (click)="doApproval('agree')">同意</button>
        </div>
        <div>
          <button class="m-btn-refuse apply-refuse" (click)="doApproval('reject')">驳回</button>
        </div>
        <div class="approval-dropdown">
          <button class="m-btn-more-big">
            更多<i class="iqon-xia"> </i>
          </button>
          <ul class="m-dropdown-option">
            <li (click)="doApproval('sign')">加签</li>
            <li (click)="doApproval('transfer')">转办</li>
          </ul>
        </div>
        <div class="approval-btnCanel" (click)="goback()">
          返回
        </div>
      </div>

      <!-- 2.加签审批类 页面 -->
      <div class="approval-buttons" *ngIf="!isView&&isSignApprovalPage">
        <div>
          <button class="m-btn-agree apply-agree" (click)="doApproval('agree+')">同意</button>
        </div>
        <div class="approval-btnCanel" (click)="goback()">
          返回
        </div>
      </div>
    </div>

    <!--审批过程流程图 -->
    <div class="apply-p-right">
      <db-wfview #wfview></db-wfview>
    </div>
  </div>
</div>