.changeSaleContract{
  display:inline-block;
  font-size:12px;
  color:rgb(228, 62, 62);
  overflow: hidden;
  line-height: 20px;
  padding: 15px 20px; 

  a{
    color:rgb(228, 62, 62);
    cursor: pointer;
    &:hover{
      color:rgb(180, 48, 48);
      text-decoration: underline;
    }
  }
  p{
    display: inline-block;
  }
}