<div class="left-nav">
    <div class="m-userimg item-box">
      <div class="m-userav">
        <img src="assets/default-user.png">
      </div>
      <div class="m-userdes">
        <div class="m-userdesname" style="width:165px;">
          <span style="font-size:14px;">张新颖</span> zhangxyaa
        </div>
        <div class="m-userdesinfo" style="width:165px;">
          <span>管理员</span><a href="#" class="pull-right">变更角色</a>
        </div>
      </div>
    </div>

    <div class="m-userimg item-box">
      <div class="my-task">
          <ul>
              <li>
                  <div class="" style="margin-bottom: 30px;">
                    <span>我的审批</span><a href="#" class="pull-right">5</a>
                  </div>
              </li>
              <li>
                  <div class="" style="margin-bottom: 30px;">
                    <span>我的跟踪</span><a href="#" class="pull-right">25</a>
                  </div>
              </li>
              <li>
                  <div class="">
                    <span>我的消息</span><a href="#" class="pull-right">75</a>
                  </div>
              </li>
          </ul>
      </div>
    </div>

    <div class="m-usertree item-box" style="border-bottom:none;">
      <div class="maillist_ui-container m-treecon">
          <div class="bill-nav-title">
              <i class="iqon-list-2"></i>应用
          </div>
          <div class="bill-nav-list">
              <iq-nav-drop [Demos]="navData"></iq-nav-drop>
          </div>
        </div>
    </div>
</div>
