<div class="ri-red-approve">
  <loading [show]="loading"></loading>
  <!--左侧内容-->
  <div class="ri-red-approve-left">
    <div class="ri-red-apply">
      <div class="red-apply-title">
        <h5>冲红申请</h5>
      </div>
      <form #redApplyForm="ngForm">
        <!--基础信息-->
        <div class="red-apply-content">

          <div class="apply-content-title">
            <h5>基础信息</h5>
          </div>
          <div class="apply-content-main clearfix">
            <div class="c-form-item">
              <div class="c-input-title"><label>申请人：</label></div>
              <div class="c-input-wrap">{{ applyData.apply.proposer }} {{ applyData.apply.ITCode }}</div>
            </div>
            <div class="c-form-item">
              <div class="c-input-title"><label>申请日期：</label></div>
              <div class="c-input-wrap">{{ getDataYYYYMMDD(applyData.apply.applydate) }}</div>
            </div>
            <div class="c-form-item">
              <div class="c-input-title"><label>电话：</label></div>
              <div class="c-input-wrap">{{ applyData.apply.phone }}</div>
            </div>
            <div class="c-form-item">
              <div class="c-input-title"><label>成本中心：</label></div>
              <div class="c-input-wrap">{{ applyData.apply.costcenter }}</div>
            </div>
            <div class="c-form-item">
              <div class="c-input-title"><label>公司：</label></div>
              <div class="c-input-wrap">{{ applyData.apply.companycode }}-{{ applyData.apply.company }}</div>
            </div>
            <div class="c-form-item">
              <div class="c-input-title"><label>业务范围：</label></div>
              <div class="c-input-wrap">{{ applyData.apply.bizcode }}-{{ applyData.apply.biz }}</div>
            </div>
            <div class="c-form-item">
              <div class="c-input-title"><label>发票类型：</label></div>
              <div class="c-input-wrap">{{ applyData.apply.invoicetype }}</div>
            </div>
            <div class="c-form-item">
              <div class="c-input-title"><label>所属平台：</label></div>
              <div class="c-input-wrap">{{ applyData.apply.platform }}</div>
            </div>
            <div class="c-form-item">
              <div class="c-input-title"><label>冲红类型：</label></div>
              <div class="c-input-wrap">{{ applyData.apply.revisetype }}</div>
            </div>
            <div class="c-form-item-small" *ngIf="subrevisetype.length > 0">
              <span *ngFor="let item of subrevisetype; index as i">{{ item?.subtype }} <i *ngIf="i != subrevisetype.length-1">，</i></span>
            </div>
            <div class="c-form-item-custom clearfix">
              <div class="c-input-title"><label>说明原因：</label></div>
              <div class="c-input-wrap">{{ applyData.apply.reason }}</div>
            </div>
          </div>

        </div>
        <!--财务信息-->
        <div class="red-apply-content">

          <div class="apply-content-title">
            <h5>财务信息</h5>
          </div>
          <div class="apply-content-main mater-detail-content clearfix">
            <!--冲红前-->
            <div class="invoice-before">
              <div class="invoice-before-total">
                共{{ applyData.invoice.length }}条
              </div>
              <table class="m-info-table">
                <thead>
                  <tr class="m-infor-tr table-head-tr1">
                    <th colspan="10" class="m-text-center change">冲红前</th>
                  </tr>
                  <tr>
                    <th class='m-text-center' style="width:30px;">序号</th>
                    <th class="m-text-center">客户编号</th>
                    <th class="m-text-center">客户名称</th>
                    <th class="m-text-center">原订单号</th>
                    <th class="m-text-center">系统发票号</th>
                    <th class="m-text-center">外部发票号</th>
                    <th class="m-text-center">原发票日期</th>
                    <th class="m-text-center" style="width: 110px;">金额/元</th>
                    <th class="m-text-center">原始收付基准日</th>
                    <th class="m-text-center">原清账号</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="applyData.invoice.length == 0">
                    <td colspan="10" style="text-align: left;padding-left: 10px!important;">无记录</td>
                  </tr>
                  <tr class="m-infor-trr" *ngFor="let item of applyData.invoice; index as i;">
                    <td class="m-text-center">{{ i + 1 }}</td>
                    <td class="m-text-center">{{ item.originalcustomercode }}</td>
                    <td class="m-text-center">{{ item.originalcustomer }}</td>
                    <td class="m-text-center">{{ item.orderno }}</td>
                    <td class="m-text-center">{{ item.internalinvoiceno }}</td>
                    <td class="m-text-center">{{ item.externalinvoiceno }}</td>
                    <td class="m-text-center">{{ getDataYYYYMMDD(item.invoicedate) }}</td>
                    <td class="m-text-center">{{ myToFixed(item.originalmoney) }}</td>
                    <td class="m-text-center">{{ getDataYYYYMMDD(item.originalreceiptdate) }}</td>
                    <td class="m-text-center">{{ item.originalcomplexaccount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--冲红后-->
            <div class="invoice-after">
              <div class="invoice-after-total">
                共{{ applyData.invoice.length }}条
              </div>
              <table class="m-info-table">
                <thead>
                  <tr class="m-infor-tr table-head-tr1">
                    <th colspan="4" class="m-text-center change">冲红后</th>
                    <th class="m-text-center change">特殊说明</th>
                    <th class="m-text-center change">财务</th>
                  </tr>
                  <tr>
                    <th class="m-text-center" style="width:30px;">序号</th>
                    <th class="m-text-center">客户编号<br>(冲名称时填写)</th>
                    <th class="m-text-center">客户名称</th>
                    <th class="m-text-center">金额/元<br>(冲金额时填写)</th>
                    <th class="m-text-center">付款账期<br>(延过账期时填写)</th>
                    <th class="m-text-center">清账号</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="applyData.invoice.length == 0">
                    <td colspan="6" style="text-align: left;padding-left: 10px!important;">无记录</td>
                  </tr>
                  <tr class="m-infor-trr" *ngFor="let item of applyData.invoice; index as i;">
                    <td class="m-text-center">{{ i + 1 }}</td>
                    <td class="m-text-center"><span *ngIf="isShowCustomerCode">{{ item.customercode }}</span></td>
                    <td class="m-text-center"><span *ngIf="isShowCustomerCode">{{ item.customer }}</span></td>
                    <td class="m-text-center">
                      <span *ngIf="materialType == 0">{{ myToFixed(item.money) }}</span>
                    </td>
                    <td class="m-text-center">
                      <div class="m-select" style="width: 70%; margin: 3px auto;" *ngIf="nodeID == 6 && isAllowEdit">
                        <i class="iqon-xia"></i>
                        <select style="height:30px;" required [name]="'receiptdate' + i" [(ngModel)]="item.receiptdate" #receiptdate="ngModel" [ngClass]="{'m-select-warn':receiptdate.invalid}">
                          <option value="">-请选择</option>
                          <option value=0>是</option>
                          <option value=1>否</option>
                        </select>
                      </div>
                      <span *ngIf="(nodeID != 6 || (nodeID == 6 && !isAllowEdit)) && item.receiptdate === 0">是</span>
                      <span *ngIf="(nodeID != 6 || (nodeID == 6 && !isAllowEdit)) && item.receiptdate === 1">否</span>
                    </td>
                    <td class="m-text-center">
                      <!--nodeID=9 财务发票(填写清帐号)-->
                      <input *ngIf="nodeID==9 && isAllowEdit" type="text" [name]="'complexaccout' + i" [(ngModel)]="item.complexaccout" required #complexaccout="ngModel"
                        [ngClass]="{'m-input-warn':complexaccout.invalid}">
                      <span *ngIf="!isAllowEdit">{{ item.complexaccout }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <!--单据信息-->
        <div class="red-apply-content" *ngIf="isApplyItcode || (nodeID && nodeID!=11 && nodeID!=5 && nodeID!=3 && nodeID!=4) || applyData.apply.wfstatus == '完成'">
          <div class="apply-content-title">
            <h5>单据信息</h5>
          </div>
          <div class="apply-content-main">
            <table class="m-info-table" style="width: 100%;">
              <thead>
                <tr>
                  <th class="m-text-center" style="width:11%;">ZCR订单</th>
                  <th class="m-text-center" style="width:11%;">ZDR订单</th>
                  <th class="m-text-center" style="width:11%;">RE订单</th>
                  <th class="m-text-center" style="width:11%;">RE交货单</th>
                  <th class="m-text-center" style="width:11%;">ZTY订单</th>
                  <th class="m-text-center" style="width:11%;">ZTY交货单</th>
                  <th class="m-text-center" style="width:11%;">ZOR订单</th>
                  <th class="m-text-center" style="width:11%;">ZOR交货单</th>
                  <th class="m-text-center" style="width:11%;">其他</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of applyData.invoice; index as i;">
                  <td class="m-text-center">
                    <input *ngIf="isAllowEdit && nodeID == 6" [name]="'ZCRorderno' + i" [(ngModel)]="item.ZCRorderno" type="text">
                    <span *ngIf="!isAllowEdit || nodeID != 6">{{ item.ZCRorderno }}</span>
                  </td>
                  <td class="m-text-center">
                    <input *ngIf="isAllowEdit && nodeID == 6" [name]="'ZDRorderno' + i" [(ngModel)]="item.ZDRorderno" type="text">
                    <span *ngIf="!isAllowEdit || nodeID != 6">{{ item.ZDRorderno }}</span>
                  </td>
                  <td class="m-text-center">
                    <input *ngIf="isAllowEdit && nodeID == 6" [name]="'REorderno' + i" [(ngModel)]="item.REorderno" type="text">
                    <span *ngIf="!isAllowEdit || nodeID != 6">{{ item.REorderno }}</span>
                  </td>
                  <td class="m-text-center">
                    <input *ngIf="isAllowEdit && nodeID == 6" [name]="'REdeliveryno' + i" [(ngModel)]="item.REdeliveryno" type="text">
                    <span *ngIf="!isAllowEdit || nodeID != 6">{{ item.REdeliveryno }}</span>
                  </td>
                  <td class="m-text-center">
                    <input *ngIf="isAllowEdit && nodeID == 6" [name]="'ZTYorderno' + i" [(ngModel)]="item.ZTYorderno" type="text">
                    <span *ngIf="!isAllowEdit || nodeID != 6">{{ item.ZTYorderno }}</span>
                  </td>
                  <td class="m-text-center">
                    <input *ngIf="isAllowEdit && nodeID == 6" [name]="'ZTYdeliveryno' + i" [(ngModel)]="item.ZTYdeliveryno" type="text">
                    <span *ngIf="!isAllowEdit || nodeID != 6">{{ item.ZTYdeliveryno }}</span>
                  </td>
                  <td class="m-text-center">
                    <input *ngIf="isAllowEdit && nodeID == 6" [name]="'ZORorderno' + i" [(ngModel)]="item.ZORorderno" type="text">
                    <span *ngIf="!isAllowEdit || nodeID != 6">{{ item.ZORorderno }}</span>
                  </td>
                  <td class="m-text-center">
                    <input *ngIf="isAllowEdit && nodeID == 6" [name]="'ZORdeliveryno' + i" [(ngModel)]="item.ZORdeliveryno" type="text">
                    <span *ngIf="!isAllowEdit || nodeID != 6">{{ item.ZORdeliveryno }}</span>
                  </td>
                  <td class="m-text-center">
                    <input *ngIf="isAllowEdit && nodeID == 6" [name]="'OrtherOrder' + i" [(ngModel)]="item.OrtherOrder" type="text">
                    <span *ngIf="!isAllowEdit || nodeID != 6">{{ item.OrtherOrder }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--冲退明细-->
        <!--财务发票(红字)、财务发票(清帐号)、财务经理nodeID=11、nodeID=9、nodeID=5不需要查看冲退明细-->
        <!--申请人、商务经理、器材会计岗nodeID=6、nodeID=8-->
        <div class="red-apply-content" *ngIf="isApplyItcode || nodeID==6 || nodeID==8 || nodeID == 12">
          <div class="apply-content-title">
            <h5>冲退明细</h5>
          </div>
          <div class="apply-content-main">
            <div class="material-detail-tab">
              <div class="material-detail-tabtitle">
                <ul class="clearfix">
                  <li *ngFor="let item of saveToERPDataList; index as i;" [ngClass]="{'active':item?.active}" (click)="clickTab(i)">{{ item.invoice?.internalinvoiceno }}</li>
                </ul>
              </div>
              <div class="material-detail-tabcontent" *ngIf="applyData.apply.revisetypecode != 400">
                <div *ngFor="let saveToERPDate of saveToERPDataList; index as saveToERPDatei;">
                  <div *ngIf="saveToERPDate.active">
                    <div class="material-detail-tabcontent-tabitem" *ngFor="let group of saveToERPDate?.group; index as groupi;">
                      <div class="material-table-title-node6 clearfix">
                        <div class="table-title-title"><label>订单类型：</label></div>
                        <div class="m-select table-title-content" *ngIf="group.groupno == '-1'">
                          <i class="iqon-xia" *ngIf="isAllowEdit && nodeID == 6 && !saveToERPDate.hasSaveToERPXuchu"></i>
                          <select name="xuchuOrderType" [(ngModel)]="group.ordertype" *ngIf="isAllowEdit && nodeID == 6 && !saveToERPDate.hasSaveToERPXuchu">
                            <option value="">-请选择</option>
                            <option value="ZCR">ZCR</option>
                            <option value="RE">RE</option>
                            <option value="ZRE">ZRE</option>
                          </select>
                          <span *ngIf="!isAllowEdit || nodeID != 6 || saveToERPDate.hasSaveToERPXuchu">{{ group.ordertype }}</span>
                        </div>
                        <div class="m-select table-title-content" *ngIf="group.groupno  >= 1">
                          <i class="iqon-xia" *ngIf="isAllowEdit && nodeID == 6 && !saveToERPDate.hasSaveToERPXutui"></i>
                          <select name="xutuiOrderType" [(ngModel)]="group.ordertype" *ngIf="isAllowEdit && nodeID == 6 && !saveToERPDate.hasSaveToERPXutui">
                            <option value="">-请选择</option>
                            <option value="ZDR">ZDR</option>
                            <option value="ZTY">ZTY</option>
                            <option value="ZSD">ZSD</option>
                            <option value="ZOR">ZOR</option>
                          </select>
                          <span *ngIf="!isAllowEdit || nodeID != 6 || saveToERPDate.hasSaveToERPXutui">{{ group.ordertype }}</span>
                        </div>

                        <div class="table-title-title" *ngIf="materialType == 4 && nodeID == 6"><label>是否写入erp:</label></div>
                        <div class="table-title-title" *ngIf="materialType == 4 && nodeID == 6">
                          <span>
                            <input type="radio" [disabled]="group.hasERP || !isAllowEdit" [id]="'isERP'+saveToERPDatei +groupi+ 10" [attr.name]="'isERP'+saveToERPDatei+groupi+ 10" [name]="'isERP'+saveToERPDatei+groupi+ 10" [(ngModel)]="group.isERP[0]" (ngModelChange)="onIsERPChange(saveToERPDatei,groupi,0,('isERP'+saveToERPDatei+groupi+ 10))" icheck> 是
                          </span>
                          <span style="padding-left: 15px;">
                            <input type="radio" [disabled]="group.hasERP || !isAllowEdit" [id]="'isERP'+saveToERPDatei +groupi+ 11" [attr.name]="'isERP'+saveToERPDatei+groupi+ 10" [name]="'isERP'+saveToERPDatei+groupi+ 10" [(ngModel)]="group.isERP[1]" (ngModelChange)="onIsERPChange(saveToERPDatei,groupi,1,('isERP'+saveToERPDatei+groupi+ 11))" icheck> 否
                          </span>
                        </div>

                        <div class="table-title-title" *ngIf="group.groupno == '-1'"><label>红字通知单号:</label></div>
                        <div class="table-title-content" *ngIf="group.groupno == '-1'">
                          <input type="text" name="rednoticeno" [(ngModel)]="group.rednoticeno" *ngIf="isAllowEdit && nodeID == 6 && !saveToERPDate.hasSaveToERPXuchu">
                          <span *ngIf="!isAllowEdit || nodeID != 6 || saveToERPDate.hasSaveToERPXuchu">{{ group.rednoticeno }}</span>
                        </div>

                        <div class="table-title-title" *ngIf="group.groupno >= 1"><label>发票备注:</label></div>
                        <div class="table-title-content" *ngIf="group.groupno >= 1 && group.material.length > 0">
                          <input type="text" [name]="'invoiceremark'+saveToERPDatei+groupi" [(ngModel)]="group.material[0].invoiceremark" *ngIf="isAllowEdit && nodeID == 6 && !saveToERPDate.hasSaveToERPXutui">
                          <span *ngIf="!isAllowEdit || nodeID != 6 || saveToERPDate.hasSaveToERPXutui">{{ group.material[0].invoiceremark }}</span>
                        </div>

                        <div class="table-title-content" *ngIf="nodeID==6 && isAllowEdit && (materialType == 1 || materialType == 2) && group.groupno >= 1 && !group.isShowDelMaterTab && !saveToERPDate.hasSaveToERPXutui">
                          <button class="m-btn-confirm" (click)="addMaterialTab(group, groupi, saveToERPDatei)">添加订单</button>
                        </div>
                        <div class="table-title-content" *ngIf="nodeID==6 && isAllowEdit && (materialType == 1 || materialType == 2) && group.groupno >= 1 && group.isShowDelMaterTab && !saveToERPDate.hasSaveToERPXutui">
                          <button class="m-btn-confirm" (click)="delMaterialTab(groupi, saveToERPDatei)">删除订单</button>
                        </div>
                      </div>
                      <table class="m-info-table" style="width: 100%;">
                        <thead>
                          <tr>
                            <th class='m-text-center' style="width: 55px;">行项目号</th>
                            <th class="m-text-center" style="width: 95px;">物料号</th>
                            <th class="m-text-center" style="width: 305px;">物料描述</th>
                            <th class="m-text-center" style="width: 60px;">数量</th>
                            <th class="m-text-center" style="width: 60px;">工厂</th>
                            <th class="m-text-center" style="width: 60px;">库存地</th>
                            <th class="m-text-center" style="width: 110px;">批次</th>
                            <th class="m-text-center" style="width: 86px;">销售总额</th>
                            <th class="m-text-center" style="width: 86px;">返款金额</th>
                            <th class="m-text-center" style="width: 40px; vertical-align: middle;" *ngIf="((groupi ==0 && !saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && !saveToERPDate.hasSaveToERPXutui)) && (nodeID==6 && isAllowEdit)">
                              <a class="m-text-center addApp-reduce m-enmc-handStyle" (click)="addLineForMaterialCodeType(groupi, saveToERPDatei)">+</a>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of group.material; index as i;">
                            <td class='m-text-center'>{{ (i+1)*10 }}</td>
                            <td class="m-text-center">
                              <input *ngIf="((groupi ==0 && !saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && !saveToERPDate.hasSaveToERPXutui)) && (nodeID==6 && isAllowEdit)" type="text" [name]="'materialcode' + (i+1)*10 + (groupi+1)" [(ngModel)]="item.materialcode" #materialcode="ngModel" required [ngClass]="{'m-input-warn':materialcode.invalid}" (keyup)="getMaterialDesc(i, groupi, saveToERPDatei, item)">
                              <span *ngIf="isApplyItcode || !isAllowEdit || nodeID==8 || (groupi ==0 && saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && saveToERPDate.hasSaveToERPXutui)">{{ item.materialcode }}</span>
                            </td>
                            <td class="m-text-left">{{ item.description }}</td>
                            <td class="m-text-center">
                              <input *ngIf="((groupi ==0 && !saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && !saveToERPDate.hasSaveToERPXutui)) && (nodeID==6 && isAllowEdit)" type="text" [name]="'num' + (i+1)*10 + (groupi+1)" [(ngModel)]="item.num" #num="ngModel" required pattern="^[0-9]\d*$"
                                [ngClass]="{'m-input-warn':num.invalid}">
                              <span *ngIf="isApplyItcode || !isAllowEdit || nodeID==8 || (groupi ==0 && saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && saveToERPDate.hasSaveToERPXutui)">{{ item.num }}</span>
                            </td>
                            <td class="m-text-center">
                              <input type="text" *ngIf="((groupi ==0 && !saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && !saveToERPDate.hasSaveToERPXutui)) && (nodeID==6 && isAllowEdit)" [name]="'factory' + (i+1)*10 + (groupi+1)" [(ngModel)]="item.factory" required maxlength="4" #factory="ngModel"
                                pattern="[0-9a-zA-Z]{4}" [ngClass]="{'m-input-warn':factory.invalid}">
                              <span *ngIf="isApplyItcode || !isAllowEdit || nodeID==8 || (groupi ==0 && saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && saveToERPDate.hasSaveToERPXutui)">{{ item.factory }}</span>
                            </td>
                            <td class="m-text-center">
                              <input type="text" *ngIf="((groupi ==0 && !saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && !saveToERPDate.hasSaveToERPXutui)) && (nodeID==6 && isAllowEdit)" [name]="'storagelocation' + (i+1)*10 + (groupi+1)" [(ngModel)]="item.storagelocation" maxlength="4">
                              <span *ngIf="isApplyItcode || !isAllowEdit || nodeID==8 || (groupi ==0 && saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && saveToERPDate.hasSaveToERPXutui)">{{ item.storagelocation }}</span>
                            </td>
                            <td class="m-text-center">
                              <input type="text" *ngIf="((groupi ==0 && !saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && !saveToERPDate.hasSaveToERPXutui)) && (nodeID==6 && isAllowEdit)" [name]="'batchno' + (i+1)*10 + (groupi+1)" [(ngModel)]="item.batchno" #batchno="ngModel" pattern="^[A-Za-z0-9]+$"
                                [ngClass]="{'m-input-warn':batchno.invalid}">
                              <span *ngIf="isApplyItcode || !isAllowEdit || nodeID==8 || (groupi ==0 && saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && saveToERPDate.hasSaveToERPXutui)">{{ item.batchno }}</span>
                            </td>
                            <td class="m-text-left">
                              <input type="text" only-number *ngIf="((groupi ==0 && !saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && !saveToERPDate.hasSaveToERPXutui)) && (nodeID==6 && isAllowEdit)" [name]="'money' + (i+1)*10 + (groupi+1)" [(ngModel)]="item.money" 
                               #money="ngModel" required pattern="^[0-9]\d*$|^[0-9]\d*[.]{1}\d{1,2}$" [ngClass]="{'m-input-warn':money.invalid}" (blur)="caleInvoiceMoney(groupi,group.material,saveToERPDate.invoice.internalinvoiceno)">
                              <span *ngIf="isApplyItcode || !isAllowEdit || nodeID==8 || (groupi ==0 && saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && saveToERPDate.hasSaveToERPXutui)">{{ item.money }}</span>
                            </td>
                            <td class="m-text-left">
                              <input type="text" only-number *ngIf="((groupi ==0 && !saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && !saveToERPDate.hasSaveToERPXutui)) && (nodeID==6 && isAllowEdit)" [name]="'backmoney' + (i+1)*10 + (groupi+1)" [(ngModel)]="item.backmoney" 
                               #backmoney="ngModel" required pattern="^[0-9]\d*$|^[0-9]\d*[.]{1}\d{1,2}$" [ngClass]="{'m-input-warn':backmoney.invalid}" (blur)="caleInvoiceMoney(groupi,group.material,saveToERPDate.invoice.internalinvoiceno)">
                              <span *ngIf="isApplyItcode || !isAllowEdit || nodeID==8 || (groupi ==0 && saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && saveToERPDate.hasSaveToERPXutui)">{{ item.backmoney }}</span>
                            </td>
                            <td class="m-text-center" style="vertical-align: middle;" *ngIf="((groupi ==0 && !saveToERPDate.hasSaveToERPXuchu) || (groupi > 0 && !saveToERPDate.hasSaveToERPXutui)) && (nodeID==6 && isAllowEdit)">
                              <a class="m-text-center addApp-reduce m-enmc-handStyle" (click)="delLineForMaterialCodeType(saveToERPDatei, groupi, i)">-</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="red-apply-footer" *ngIf="nodeID==6 && isAllowEdit">
                      <button class="m-btn-confirm" [ngClass]="{'m-btn-disable':saveToERPDate.hasSaveToERPXuchu}" name="saveerpxuchu" [disabled]="saveToERPDate.hasSaveToERPXuchu" (click)="saveToERP(saveToERPDate,saveToERPDatei, '-1')">负向订单-写入ERP</button>
                      <button class="m-btn-confirm" [ngClass]="{'m-btn-disable':saveToERPDate.hasSaveToERPXutui}" name="saveerpxutui" [disabled]="saveToERPDate.hasSaveToERPXutui" (click)="saveToERP(saveToERPDate,saveToERPDatei, '1')">正向订单-写入ERP</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="material-detail-tabcontent" *ngIf="applyData.apply.revisetypecode == 400">
                <span style="color: #ea6269;">请去ERP创建订单，并填写对应的ERP订单号及交货单号。</span>
              </div>
            </div>
          </div>
        </div>
        <!--事业部一级、二级nodeID=3、nodeID=4-->
        <div class="red-apply-content" *ngIf="!isApplyItcode && (nodeID==3 || nodeID==4 || applyData.apply.wfstatus == '完成') && (materialType == 0 || materialType == 1 || materialType == 2)">
          <div class="apply-content-title">
            <h5>冲退明细</h5>
          </div>
          <div class="apply-content-main">
            <div class="material-detail-tab">
              <div class="material-detail-tabtitle">
                <ul class="clearfix">
                  <li *ngFor="let item of materialList; index as i;" [ngClass]="{'active':item?.active}" (click)="clickTab(i)">{{ item?.internalinvoiceno }}</li>
                </ul>
              </div>
              <div class="material-detail-tabcontent">
                <div *ngFor="let tabitem of materialList; index as tabitemi;">
                  <!--价格更改类型-->
                  <div *ngIf="materialType === 0 && tabitem.active">
                    <div class="material-table-title">
                      新销售总额、新返款金额为新出发票的内容，必填填写
                    </div>
                    <table class="m-info-table">
                      <thead>
                        <tr>
                          <th class='m-text-center' style="width: 60px; vertical-align: middle;">行项目号</th>
                          <th class="m-text-center" style="width: 70px;">物料号</th>
                          <th class="m-text-center" style="width: 210px;">物料描述</th>
                          <th class="m-text-center" style="width: 50px;">数量</th>
                          <th class="m-text-center" style="width: 60px;">工厂</th>
                          <th class="m-text-center" style="width: 60px;">库存地</th>
                          <th class="m-text-center" style="width: 70px;">批次</th>
                          <th class="m-text-center" style="width: 85px;">原销售总额</th>
                          <th class="m-text-center" style="width: 90px;"><span class="material-col-need">*</span>新销售总额<br>(返款前)</th>
                          <th class="m-text-center" style="width: 85px;">原返款金额</th>
                          <th class="m-text-center" style="width: 90px;"><span class="material-col-need">*</span>新返款金额</th>
                          <th class="m-text-center" style="width: 85px;">新销售净额</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngIf="tabitem.tableList == 0">
                          <td colspan="12" style="text-align: left;padding-left: 10px!important;">无记录</td>
                        </tr>
                        <tr *ngFor="let item of tabitem.tableList; index as i;">
                          <td class='m-text-center'>{{ item.projcode }}</td>
                          <td class="m-text-center">{{ item.originalmaterialcode }}</td>
                          <td class="m-text-left">{{ item.originaldescription }}</td>
                          <td class="m-text-center">{{ item.num }}</td>
                          <td class="m-text-center">{{ item.factory }}</td>
                          <td class="m-text-center">{{ item.originalstoragelocation }}</td>
                          <td class="m-text-center">{{ item.originalbatchno }}</td>
                          <td class="m-text-center">{{ item.originalmoney }}</td>
                          <td class="m-text-center">{{ item.money }}</td>
                          <td class="m-text-center">{{ item.originalbackmoney }}</td>
                          <td class="m-text-center">{{ item.backmoney }}</td>
                          <td class="m-text-center">{{ myToFixed(item.money-item.backmoney) }}</td>
                        </tr>
                        <tr *ngIf="tabitem.tableList && tabitem.tableList.length > 0">
                          <td class='m-text-right' colspan="7">总计：</td>
                          <td class="m-text-center">{{ myToFixed(tabitem.originalMoneyTotalAmount) }}</td>
                          <td class="m-text-center">{{ myToFixed(tabitem.moneyTotalAmount) }}</td>
                          <td class="m-text-center">{{ myToFixed(tabitem.originalBackMoneyTotalAmount) }}</td>
                          <td class="m-text-center" [ngClass]="{'material-backmoney-tip': tabitem.isBeyond}">{{ myToFixed(tabitem.backMoneyTotalAmount) }}</td>
                          <td class="m-text-center">{{ myToFixed(tabitem.moneyTotalAmount - tabitem.backMoneyTotalAmount) }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!--物料号类型-->
                  <div *ngIf="materialType === 1 && tabitem.active">
                    <div class="material-table-title">
                      请填写新出发票的所有产品明细（包括物料号未变更项）
                    </div>
                    <table class="m-info-table">
                      <thead>
                        <tr>
                          <th class='m-text-center' style="width: 55px;">行项目号</th>
                          <th class="m-text-center" style="width: 95px;">物料号</th>
                          <th class="m-text-center" style="width: 305px;">物料描述</th>
                          <th class="m-text-center" style="width: 60px;">数量</th>
                          <th class="m-text-center" style="width: 60px;">工厂</th>
                          <th class="m-text-center" style="width: 60px;">库存地</th>
                          <th class="m-text-center" style="width: 110px;">批次</th>
                          <th class="m-text-center" style="width: 86px;">销售总额</th>
                          <th class="m-text-center" style="width: 86px;">返款金额</th>
                          <th class="m-text-center" style="width: 86px;">销售净额</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of tabitem.tableList; index as i;">
                          <td class='m-text-center'>{{ item.projcode }}</td>
                          <td class="m-text-center">{{ item.materialcode }}</td>
                          <td class="m-text-left">{{ item.description }}</td>
                          <td class="m-text-center">{{ item.num }}</td>
                          <td class="m-text-center">{{ item.factory }}</td>
                          <td class="m-text-center">{{ item.storagelocation }}</td>
                          <td class="m-text-center">{{ item.batchno }}</td>
                          <td class="m-text-center">{{ item.money }}</td>
                          <td class="m-text-center">{{ item.backmoney }}</td>
                          <td class="m-text-center">{{ myToFixed(item.money-item.backmoney) }}</td>
                        </tr>
                        <tr>
                          <td class='m-text-right' colspan="7">总计：</td>
                          <td class="m-text-center">{{ myToFixed(tabitem.moneyTotalAmount) }}</td>
                          <td class="m-text-center" [ngClass]="{'material-backmoney-tip': tabitem.isBeyond}">{{ myToFixed(tabitem.backMoneyTotalAmount) }}</td>
                          <td class="m-text-center">{{ myToFixed(tabitem.moneyTotalAmount - tabitem.backMoneyTotalAmount) }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!--冲成本-->
                  <div *ngIf="materialType === 2 && tabitem.active">
                    <div class="material-table-title">
                      新出发票的物料号，不可以为空，与原单数据相同时请填写原单数据。
                    </div>
                    <table class="m-info-table">
                      <thead>
                        <tr>
                          <th class='m-text-center' style="width: 55px;">行项目号</th>
                          <th class="m-text-center" style="width: 85px;">物料号</th>
                          <th class="m-text-center" style="width: 113px;">物料描述</th>
                          <th class="m-text-center" style="width: 95px;"><span class="material-col-need">*</span>新物料号</th>
                          <th class="m-text-center" style="width: 113px;">新物料描述</th>
                          <th class="m-text-center" style="width: 45px;">数量</th>
                          <th class="m-text-center" style="width: 45px;">工厂</th>
                          <th class="m-text-center" style="width: 55px;">库存地</th>
                          <th class="m-text-center" style="width: 65px;">新库存地</th>
                          <th class="m-text-center" style="width: 50px;">批次</th>
                          <th class="m-text-center" style="width: 100px;">新批次</th>
                          <th class="m-text-center" style="width: 55px;">销售额</th>
                          <th class="m-text-center" style="width: 65px;">返款金额</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngIf="tabitem.tableList == 0">
                          <td colspan="13" style="text-align: left;padding-left: 10px!important;">无记录</td>
                        </tr>
                        <tr *ngFor="let item of tabitem.tableList; index as i;">
                          <td class='m-text-center'>{{ item.projcode }}</td>
                          <td class="m-text-center">{{ item.originalmaterialcode }}</td>
                          <td class="m-text-left">{{ item.originaldescription }}</td>
                          <td class="m-text-center">{{ item.materialcode }}</td>
                          <td class="m-text-left" [ngClass]="{'material-description-tip': item.originaldescription !== item.description}">{{ item.description }}</td>
                          <td class="m-text-center">{{ item.num }}</td>
                          <td class="m-text-center">{{ item.factory }}</td>
                          <td class="m-text-center">{{ item.originalstoragelocation }}</td>
                          <td class="m-text-center">{{ item.storagelocation }}</td>
                          <td class="m-text-center">{{ item.originalbatchno }}</td>
                          <td class="m-text-center">{{ item.batchno }}</td>
                          <td class="m-text-center">{{ item.originalmoney }}</td>
                          <td class="m-text-center">{{ item.originalbackmoney }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--附件信息-->
        <div class="red-apply-content">
          <div class="apply-content-title">
            <h5>附件信息</h5>
          </div>
          <div class="apply-content-main" *ngIf="isApplyItcode && invoiceHasApprove">
            <div class="apply-content-title-message">我承诺上传的附件与原件一致，并将原件提交给财务留存</div>
            <iq-file-upload upType="1" [url]="uploadAccesslUrl" [maxFileSize]="52428800" [withCredentials]=false [hasUploaded]="hasUploadedFiles"
              text="附件上传" (onSuccess)="fileUploadSuccess($event)" (onDeleteItem)="onDeleteFileItem($event)" (onClickFile)="onClickFile($event)"></iq-file-upload>
          </div>
          <div class="apply-content-main" *ngIf="!isApplyItcode || !invoiceHasApprove">
            <ul>
              <li class="apply-content-main-accessory" *ngFor="let item of applyData.accessory"><a (click)="downLoadFile(item.AccessoryURL)">{{ item.AccessoryName }}</a></li>
            </ul>
          </div>
          <div class="apply-content-main" *ngIf="isRed && nodeID && nodeID!=3 && nodeID!=4 && nodeID!=5">
            <table class="m-info-table" style="width:35%; text-align:center;">
              <tr>
                <td style="width:40%;">外部发票号</td>
                <td style="width:60%;"><span class="material-col-need" *ngIf="nodeID==11 && isAllowEdit">*</span>红字通知单号</td>
              </tr>
              <tr *ngFor="let item of applyData.invoice; index as i;">
                <td>{{ item.externalinvoiceno }}</td>
                <td>
                  <input type="text" *ngIf="nodeID==11 && isAllowEdit" [name]="'rednoticeno' + i" [(ngModel)]="item.AccountantRedNoticeNo" required #rednoticeno="ngModel"
                    [ngClass]="{'m-input-warn':rednoticeno.invalid}">
                  <span *ngIf="nodeID!=11">{{item.AccountantRedNoticeNo}}</span>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <!--审批历史记录-->
        <div class="red-app-history">
          <db-wfhistory [wfHistoryData]="wfHistory" *ngIf="wfHistory"></db-wfhistory>
        </div>
        <!--审批组件-->
        <div class="contract-approval" *ngIf="!applyID && isAllowEdit">
          <!-- 通用审批组件 -->
          <db-wfapproval *ngIf="!isADP" [hasSaved]="hasSaved" [appParms]="appParms" [isRed]="nodeID == 5 && isRed && subrevisetype[0]?.subtypecode != '301'" (onSave)="onApprove($event)"></db-wfapproval>
          <!-- 加签审批组件 -->
          <db-wfadp *ngIf="isADP" [adpAppParms]="appParms"></db-wfadp>
        </div>
        <!--查看页面按钮组-->
        <div class="red-apply-footer" *ngIf="applyID || !isAllowEdit">
          <button class="m-btn-assist-1" type="button" (click)="cancle()">返回</button>
        </div>
      </form>
    </div>
  </div>

  <!--流程全景图-->
  <div class="ri-red-approve-right">
    <db-wfview #wfview></db-wfview>
  </div>
</div>