<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="overflow:scroll;height:400px;">
                <table class="table table-hover table-list" >
                    <thead>
                        <tr>
                            <th style="text-align: center;">序号</th>
                            <th *ngFor="let item of modalData.headDataList;index as k" [class.error]="modalData.headFlagList.indexOf(k+'')==-1" style="text-align: center;">{{ item }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let trItem of modalData.dataList;index as i">
                            <td>
                                {{ i+1 }}
                            </td>
                            <ng-container *ngFor="let item2 of modalData.headDataList;index as j">
                                <td [class.error]="trItem['0'+j].flag==0">
                                 <span  title="{{trItem['0'+j].errormessage}}"> {{ trItem["0"+j].value }}</span>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="m-btn-cancel btn-blue" *ngIf="overallIdentical" (click)="saveModalData()">保存</button>
                <button class="m-btn-cancel" (click)="hide(true)">取消</button>
            </div>
        </div>
    </div>
</div>