<!-- <div class="">
    <div class="modal fade" bsModal #confirmModal="bs-modal" [config]="{backdrop: 'static'}">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
              <div class="confirm-tips">{{options.message}}</div>
              <div class="btn-groups">
                  <input type="button" value="确定" class="btn btn-medium btn-save" (click)="hideConfirm()">
                  <input type="button" value="取消" class="btn btn-medium btn-light btn-cancel" (click)="hideConfirm()">
              </div>
          </div>
        </div>
      </div>
    </div>
</div> -->
