<div class="m-boardtop clearfix">
	<div class="m-crumb">
		<ul>我的位置：
			<li><a>DCG业务管理平台</a></li>
			<li><a>借用管理</a></li>
			<li><a>借用跟踪</a></li>
			<li><a>借用查询</a></li>
		</ul>
	</div>
	<button class="m-btn-2 g-fr" style="margin-top: 7px;" (click)="borrowApplyExcel()">Excel导出</button>


</div>
<div class="m-overclass">
	<!--搜索条件-->
	<div class="m-list-menu" style="background-color: #f5f7fa;height:215px">
		<div class="m-table m-table1">
			<table cellpadding="0" cellspacing="0" width="100%" style="line-height: 45px;text-align: center;">
				<tr>
					<td> <label>客户名称</label></td>
					<td style="width: 262px;"><input type="text" placeholder="-请填写" [(ngModel)]="query.borrowCustomerName" name="borrowCustomerName"></td>
					<td> <label>申请日期</label></td>
					<td width="25%">
						<table width="100%">
							<tr>
								<td>
									<my-datepicker [(ngModel)]="query.startDate" format="YYYY-MM-DD" PlaceHolder="-请选择日期"></my-datepicker>
								</td>
								<td>~</td>
								<td>
									<my-datepicker [(ngModel)]="query.endDate" format="YYYY-MM-DD" PlaceHolder="-请选择日期"></my-datepicker>
								</td>
							</tr>
						</table>
					</td>
					<td> <label>业务范围</label></td>
					<td><input type="text" placeholder="-请填写" [(ngModel)]="query.businessScope" name="businessScope"></td>

				</tr>
				<tr>
					<td> <label>项目名称</label></td>
					<td><input type="text" placeholder="-请填写" [(ngModel)]="query.projectName" name="projectName"></td>
					<td> <label>借用属性</label></td>
					<td><select style="width: 100%;" class="form-control borrowSelect" [(ngModel)]="query.borrowAttributeCode" name="borrowAttributeCode">
                            		<option value=undefined>-请选择</option>
									<option *ngFor="let item1 of borrowAttrOpts" [value]="item1.code">{{item1.name}}</option>
                        		</select></td>
					<td> <label>申请人ID</label></td>
					<td><input type="text" placeholder="-请填写" [(ngModel)]="query.applyItCode" name="applyItCode"></td>

				</tr>
				<tr>
					<td> <label>归属平台</label></td>
					<td>


						<select style="width: 262px;" class="form-control borrowSelect" [(ngModel)]="query.platformCode" name="platformCode">
                                <option value="">-请选择-</option>
								<option *ngFor="let p of platforms" [value]="p.platcode">{{p.platname}}</option>
                              
                            </select>

					</td>
					<td> <label>本部</label></td>
					<td><input type="text" placeholder="-请填写" [(ngModel)]="query.baseDeptName" name="baseDeptName"></td>
					<td> <label>事业部</label></td>
					<td>
						<input type="text" placeholder="-请填写" [(ngModel)]="query.subDeptName" name="subDeptName">
					</td>
				</tr>
				<tr>
					<td> <label>运输单号</label></td>
					<td><input type="text" placeholder="-请填写" [(ngModel)]="query.transportNo" name="transportNo"></td>
					<td> <label>审批状态</label></td>
					<td>
						<select style="width: 100%;" class="form-control borrowSelect" [(ngModel)]="query.flowStatus" name="flowStatus">
										<option value=undefined> -请选择 </option>
										<option *ngFor="let item1 of flowStatuslist" [value]="item1.code">{{item1.name}}</option>
								</select>
					</td>
				</tr>

				<tr>
					<td colspan="3"></td>
				</tr>

			</table>
		</div>
		<div class="m-scan-item btn-right">
			<button class="m-btn-cancel btn-blue" (click)="search(0)">搜索</button>
			<button class="m-btn-cancel" (click)="clearSearch()">重置</button>
		</div>



	</div>


	<div class="m-scan-result">
		<!--搜索结果缺省页开始-->
		<div class="m-noresult" [ngClass]="{'hide':borrowApplyList && borrowApplyList.length > 0}">
			<loading [show]="loading"></loading>
			<div class="m-noresult-msg">
				<i class="iqon-query"></i>
				<p class="m-noresult-notice">
					很抱歉，没有找到有关的信息
				</p>
				<p class="m-p-notice">温馨提示：请检查您输入的是否正确</p>
			</div>
		</div>
		<!--搜索结果缺省页结束-->
		<div class="m-card-cont" [ngClass]="{'hide':borrowApplyList && borrowApplyList.length == 0}">
			<loading [show]="loading"></loading>
			<div class="m-content-right">
				<div class="" style='height:48px;padding:10px;' >
					<span>
							<input icheck type="checkbox" allcheck="selectedAll" [(ngModel)] = 'fullChecked' style="position: absolute; opacity: 0;" [indeterminate]="fullCheckedIndeterminate"
              (onCount)="checkedNum = $event" (onIndeterminate)="CheckIndeterminate($event)">
					</span>
					<span>
							<button class="leftbutton" (click)="toExportCkeckedApply()">导出EXCEL</button>
					</span>
				</div>
				<ul class="table-uls" [ngClass]="{'hide':borrowApplyList && borrowApplyList.length == 0}">
					<li class="table-list" *ngFor="let item of borrowApplyList;index as i" (click)="goDetail(item.applyId)" >
						<div class="table-list-header">
							<div class="list-info">
								 <td style="width:28px;"><input icheck type="checkbox" allcheckChild="selectedAll" [(ngModel)] = 'item.checked'></td>
								<p>{{item.applyDate|iqDate:'YYYY-MM-DD' }}</p>
								<div>
									<p>主申请单号</p><span>{{item.mainApplyNo}}</span></div>
								<div>
									<p>子申请单号</p><span>{{item.subApplyNo}}</span></div>
							</div>
							<!--div class="m-user-info m-user-infors">
								<img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
							 <span class="m-user-name">{{item.applyUserName}}/</span>
			              <span class="m-user-ename">{{item.applyItCode}}</span>
							</div-->
							<div user-image [user]="this.applyUserList[i]" [showHover]="true" *ngIf="this.applyUserList.length>0&&this.applyUserList[i]"></div>
						</div>
						<div class="table-list-body">
							<ul class="list-body-uls">
								<li>
									<h4>{{item.borrowCustomerName}}</h4>
								</li>
								<li>
									<ul class="list-body-uls-tree">
										<li>
											<label  style="letter-spacing: 0.6px;" >业务范围编号</label>
											<span>{{item.businessScope}}</span>
										</li>
											<li>
											<label >项目名称</label>
											<span>{{item.projectName}}</span>
										</li>
										<li>
											<label >预留号</label>
											<span>{{item.reservationNo}}</span>
										</li>
										<li>
											<label >库存地</label>
											<span>{{item.inventory}}</span>
										</li>
										<!--<li>
											<label >借用总金额</label>
											<span>{{item.borrowTotalAmount}}</span>
										</li>
									
										<li>
											<label style="letter-spacing: 7.2px;">借用金额</label>
											<p><span>{{item.borrowAmount}}</span></p>
										</li>-->
									</ul>
								</li>
								<li>
									<ul class="list-body-uls-tree">
										<li>
											<label style="letter-spacing: 1.6px;">借用总金额</label>
											<span>{{item.borrowTotalAmount}}</span>
										</li>
										<li>
											<label >借用金额</label>
											<p><span>{{item.borrowAmount}}</span></p>
										</li>
										<li>
											<label >借用属性</label>
											<span>{{item.borrowAttributeName}}</span>
										</li>
										
										<li>
											<label>借用日期</label>
											<p><span>{{item.borrowDate|iqDate:'YYYY-MM-DD'}}</span></p>
										</li>
									</ul>
								</li>
								<li class="user-approve">
    							<p>
    								<i class="iqon-audit2"></i>
    								<span>{{item.flowCurrNodeName}}</span>
    							</p>
    							<p class="m-user-info"> 
    								<!--<span class="m-user-name">张新颖</span>-->
      								<span class="m-user-ename">{{item.currApprAuthors}}</span>
    							</p>
    						</li>
							</ul>
						</div>
					</li>
				</ul>
				<iq-pager [data]="pagerData" (onChange)="onChangePage($event)"></iq-pager>
			</div>
		</div>
	</div>
</div>