/* 新增公司信息*/
.m-add-company {
  width: 600px;
  background-color: #ffffff;
  .m-add-form{
    padding: 5px 25px;
    .m-form-item{
      padding-top: 15px;
    }
    .m-form-right30{
      padding-right: 30px;
    }
  }
}
