//没有搜索结果
.m-noresult{
  position: relative;
  min-height: 300px;
  background: #fff;

  .m-noresult-msg{
    @extend %horizontal-center;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 190px;
    text-align: center;

    .iqon-query{
      display: block;
      margin: 0 auto;
      width: 90px;
      height: 90px;
      text-align:center;
      line-height: 90px;
      font-size: 54px;
      color: #fff;
      background:#57b9f8;
      @include border-radius();
    }

    .m-noresult-notice{
      margin: 29px 0 19px;
      font-size: 20px;

      >span{
        color: $def-warn-color;
      }
    }
  }
}
