//excel分析数据表格模态框
.modal {
    display: block;
    .modal-dialog{
        width: 1100px;
        .modal-content {
            margin: 50px auto;
            .modal-body {
                td {
                    position:relative;
                    &:hover{
                        .error-tip {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
.error {
    color:red;
}
.error-tip {
    display: none;
    background-color: gold;
    position:absolute;
    bottom: -16px;
    right: -100px;
}
.btn-blue {
  background-color: #57b9f8;
  color:#fff;
}