<div class="sc-list my-order-list" (click)="toggleState($event)">
  <!--一级菜单-->
  <div class="sc-list-menu clearfix">
    <div class="sc-list-menu-left">
      <ul class="clearfix">
        <li [class.active]="currentMenuType === 'apply'" (click)="tabMenu('apply')">我的申请</li>
        <li [class.active]="currentMenuType === 'approval'" (click)="tabMenu('approval')">
          我的审批
          <span class="m-num">{{unReader}}</span>
        </li>
      </ul>
    </div>
    <div class="sc-list-menu-right">
      <button class="m-btn-success" type="button" (click)="selectContract()">+ 新建订单</button>
      <!-- <div class="newIndia" [@newApply]="currentState">
                <ul>
                    <li (click) = "selectContract(0)"><i class="iqon-direct-right"></i>标准销售订单</li>
                    <li (click) = "selectContract(1)"><i class="iqon-direct-right"></i>澳门销售订单</li>
                    <li><i class="iqon-direct-right"></i>其他销售订单</li>
                </ul>
            </div> -->
    </div>
  </div>
  <!--二级菜单-->
  <div class="m-list-menu">
    <div [class.noview]="currentMenuType !== 'apply'">
      <ul class="m-state">
        <li [class.active]="currentDataState === 'approval'" (click)="tabData('approval')">审批中</li>
        <li [class.active]="currentDataState === 'completed'" (click)="tabData('completed')">已完成</li>
        <li [class.active]="currentDataState === 'all'" (click)="tabData('all')">全部</li>
        <li [class.active]="currentDataState === 'draft'" (click)="tabData('draft')">草稿</li>
      </ul>
      <div class="m-search-all-other">
        <div class="m-search" style="margin-right:15px;">
          <i class="iqon-query" (click)="search()"></i>
          <input name="name" [(ngModel)]="query.InputCondition" (keyup.enter)="search()" autocomplete='off' placeholder="搜索订单号,客户名称,申请人..." type="text">
        </div>
        <div class="m-inline-block">
          <label>申请日期</label>
          <div class="inline-block">
            <my-datepicker PlaceHolder="-请选择日期" [(ngModel)]="query.CreatedTimeStart" [EndDate]="query.CreatedTimeEnd"></my-datepicker>
          </div>
          <span>~</span>
          <div class="inline-block date-right">
            <my-datepicker PlaceHolder="-请选择日期" [(ngModel)]="query.CreatedTimeEnd" [StartDate]="query.CreatedTimeStart"></my-datepicker>
          </div>
        </div>
      </div>
      <div class="m-returnService-btns" style="text-align:right; width:100%">
        <button class="m-btn-confirm research" type="button" (click)="search()">搜索</button>
        <button class="m-btn-default resets" type="button" (click)="reset()">重置</button>
      </div>
    </div>
    <div [class.noview]="currentMenuType !== 'approval'">
      <ul class="m-state">
        <li [class.active]="currentDataState === 'waitapproval'" (click)="tabData('waitapproval')">待我审批</li>
        <li [class.active]="currentDataState === 'examinedapproved'" (click)="tabData('examinedapproved')">我已审批</li>
        <li [class.active]="currentDataState === 'allapproval'" (click)="tabData('allapproval')">全部</li>
      </ul>
      <div class="m-search-all-other">
        <div class="m-search" style="margin-right:15px;">
          <i class="iqon-query" (click)="search()"></i>
          <input name="name" [(ngModel)]="examineQuery.query" (keyup.enter)="search()" autocomplete='off' placeholder="搜索订单号,客户名称,申请人..." type="text">
        </div>
        <div class="m-inline-block">
          <label>申请日期</label>
          <div class="inline-block">
            <my-datepicker PlaceHolder="-请选择日期" [(ngModel)]="examineQuery.applydateStart" [EndDate]="examineQuery.applydateEnd"></my-datepicker>
          </div>
          <span>~</span>
          <div class="inline-block date-right">
            <my-datepicker PlaceHolder="-请选择日期" [(ngModel)]="examineQuery.applydateEnd" [StartDate]="examineQuery.applydateStart"></my-datepicker>
          </div>
        </div>
      </div>
      <div class="m-returnService-btns" style="text-align:right; width:100%">
        <button class="m-btn-confirm research" type="button" (click)="search()">搜索</button>
        <button class="m-btn-default resets" type="button" (click)="reset()">重置</button>
      </div>
    </div>
  </div>
  <loading [show]="loading"></loading>
  <!--搜索-->

  <div class="m-card-cont" *ngIf="!default">
    <!--我是申请表格-->
    <div class="" *ngIf="currentMenuType == 'apply'">
      <div class="m-order-card">
        <div class="table-box table-list-others">
          <table class="table table-hover table-list">
            <thead>
              <tr>
                <th>订单号</th>
                <th>客户名称</th>
                <th style="width:7%">订单类型</th>
                <th class="money-right" style="width:12%">销售金额</th>
                <th style="width:7%">销售员</th>
                <th style="width:7%">申请人</th>
                <th style="width:10%">申请时间</th>
                <th style="width:15%" *ngIf="currentDataState === 'approval'||currentDataState === 'all'">当前环节</th>
                <!-- <th class="w120">当前环节</th> -->
                <th style="text-align:center;width: 7%" *ngIf="currentDataState ==='all'||currentDataState === 'draft'">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let one of currentTableData;index as m">
                <ng-container *ngIf='one.ERPOrderCode'>
                  <td title="{{one.ERPOrderCode}}"><span class="clickText" (click)='goToNewPage(one.SalesOrderID,one.Status)'>{{one.ERPOrderCode}}</span></td>
                </ng-container>
                <ng-container *ngIf='!one.ERPOrderCode'>
                  <td title="{{one.SalesOrderNum}}"><span class="clickText" (click)='goToNewPage(one.SalesOrderID,one.Status)'>{{one.SalesOrderNum}}</span></td>
                </ng-container>
                <td title="{{one.CustomerName}}">{{one.CustomerName}}</td>
                <td>{{one.OrderType}}</td>
                <td title="{{one.SalesAmountTotal}}" class=" money-right">{{(one.SalesAmountTotal || 0) |iqNumber:'1.2-2'}}</td>
                <td title="{{one.SalesName}}">{{one.SalesName}}</td>
                <td title="{{one.CreateName}}">{{one.CreateName}}</td>
                <td>{{one.CreatedTime|iqDate:'YYYY-MM-DD'}}</td>
                <ng-container *ngIf="(currentDataState === 'approval')||(currentDataState === 'all')">
                  <td title="{{one.CurrentApprovalNode}}">{{one.CurrentApprovalNode?one.CurrentApprovalNode:(!one.CurrentApprovalNode && one.ERPOrderCode)?'已完成':'草稿'}}</td>
                </ng-container>
                <td class="edit-blue" style="text-align:center;" *ngIf="currentDataState === 'all' || currentDataState === 'draft'">
                  <!-- 所有的都有查看跳转查看页 -->
                  <!-- <span class="isEdit" (click)='goToNewPage(item.SC_Code,one.SalesOrderID,flase)'>查看</span> -->
                  <!-- isedit跳转编辑页 -->
                  <!-- <span class="isEdit"*ngIf='one.IsEdit==true' (click) = "goToNewPage(item.SC_Code,one.SalesOrderID,true)">编辑</span> -->
                  <!-- 全部的里面草稿跟驳回显示删除 -->
                  <!-- <span *ngIf="currentDataState === 'all'" (click)="deleteSaleOrder(m,one.SalesOrderID)">{{(one.Status=='0')||(one.Status=='3')?'删除':''}}</span> -->
                  <!-- 草稿显示删除 -->
                  <!-- <span *ngIf="currentDataState === 'draft'" (click)="deleteSaleOrder(m,one.SalesOrderID)">删除</span> -->

                  <span (click)="deleteSaleOrder(m,one.SalesOrderID)">{{(one.Status=='0')||(one.Status=='3')?'删除':''}}</span>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="table-footer">
              <iq-pager [data]="pagerData" (onChange)="onChangePager($event)"></iq-pager>
            </div> -->
    </div>



    <!--我的审批表格-->
    <div class="" *ngIf="currentMenuType == 'approval'">
      <div class="m-order-card  my-approval-table">
        <table class="table table-hover table-list">
          <thead>
            <tr>
              <th style="width:15%">订单号<i class="iqon-orderdown" [class.iqon-orderdown-up]='idSort' (click)='approvalSort()'></i></th>
              <th style="width:20%">客户名称</th>
              <th class="money-right" style="width:10%">销售金额</th>
              <th class="money-right" style="width:10%">合同金额（元）</th>
              <th style="width:7%">订单类型</th>
              <th style="width:8%">申请人</th>
              <th style="width:9%">申请日期<i class="iqon-order" (click)='approvalSort()'></i></th>
              <th style="width:10%">当前审批环节</th>
              <!-- <th>操作</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let itemOne of approveTableData'>
              <td title="{{itemOne.SalesOrderNum}}"><span (click)='goToView(itemOne.taskTableURL,itemOne.taskState,itemOne.SalesOrderId)' class="clickText">{{itemOne.SalesOrderNum}}</span></td>
              <td title="{{itemOne.CustomerName}}">{{itemOne.CustomerName}}</td>
              <td class="money-right" title="{{itemOne.SalesAmount}}">{{(itemOne.SalesAmount || 0) |iqNumber:'1.2-2'}}</td>
              <td class="money-right" title="{{itemOne.ContractMoney}}">{{(itemOne.ContractMoney || 0) |iqNumber:'1.2-2'}}</td>
              <td title="{{itemOne.OrderType}}">{{itemOne.OrderType}}</td>
              <td title="{{itemOne.ApplyName}}">{{itemOne.ApplyName}}</td>
              <td title="{{itemOne.Applydate}}">{{itemOne.Applydate | iqDate:'YYYY-MM-DD'}}</td>
              <td title="{{itemOne.currentapprove}}">{{itemOne.currentapprove}}</td>
              <!-- <td class="edit-blue" >
                                <span  (click)='goToView(itemOne.taskTableURL)'>查看</span>
                            </td> -->

            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="table-footer">
              <iq-pager [data]="pagerData" (onChange)="onChangePager($event)"></iq-pager>
            </div> -->
    </div>
    <div class="table-footer">
      <iq-pager [data]="pagerData" (onChange)="onChangePager($event)"></iq-pager>
    </div>
  </div>
  <!--我的申请-缺省-->
  <div class="m-home-default" *ngIf="currentMenuType == 'apply' && default">
    <div class="m-scan">
      <div class="m-scan-body">
        <div class="m-scan-default">
          <div class="m-scan-logo">
            <i class="iqon-apply"></i>
          </div>
          <h3>销售订单-我的申请-{{ currentDataTypeName }}为空</h3>
          <h4>快来点击右上角“新建申请”按钮，开始新建申请吧~</h4>
        </div>
      </div>
    </div>
  </div>
  <!--我的审批-缺省-->
  <div class="m-home-default" *ngIf="currentMenuType == 'approval' && default">
    <div class="m-scan">
      <div class="m-scan-body">
        <div class="m-scan-default">
          <div class="m-scan-logo">
            <i class="iqon-apply"></i>
          </div>
          <h3>销售订单-我的审批-{{ currentDataTypeName }}为空</h3>
        </div>
      </div>
    </div>
  </div>

</div>
