@import '../../../../../sass/base/variables';
@import '../../../../../sass/base/util';
.m-overclass{
  padding: 10px 20px;
  
  .m-list-menu{
    /*margin:15px 0;*/

    .m-search-open{
      position: relative;
      float: right;
      padding: 18px 25px;
      background-color: $def-color3;
      color: $def-main-color;
      box-shadow: 0 -2px 3px rgba( 0, 0, 0, .15);
      cursor: pointer;
    }
    .m-search-more{
      float: left;
      width: 100%;
      background-color: $def-color3;
      box-shadow: 0 0 5px rgba( 0, 0, 0, .15);

      .form{
        padding: 15px 25px;
        @extend %box-flex;
      }

      .m-search-item{
        margin-bottom: 10px;
        width: 31%;
        margin-left: -25px;
        >label{
          display: inline-block;
          width: 28%;
          margin-right: 5px;
          text-align: right;
        }
        >input[type=text],.m-select-search{
          display: inline-block;
          width: 68%;
        }
        &:nth-child(8){
          width: 64%;
          label{
            width:18%;
          }
          .search-child{
            width: 40%;
          }
        }
      }

      .m-search-btn{
        float: left;
        width: 100%;
        text-align: center;
        .research{
          width: 78px;
        }
        .resets{
            width: 78px;
            margin-left: 15px;
        }
      }
    }
    .m-search-high{
      text-align: center;
    }
  }

  .m-noresult{
    height: calc(100vh - 190px);
    margin-top: 10px;
  }

  .m-mate-list{
    background-color: #fff;
    margin:15px 0;
  }
}
.m-search-items{
  display: flex;
  // width: 40%!important;
  line-height: 35px;
  label{
    width: 21%!important;
  }
  .m-datepicker-comb{
    margin-left: 5px;
    width: 76%;
  }
}
.hideStyle{
  display: none;
}

.list-edit{
  width: 100%!important;
}

.table-list td{
    overflow: hidden!important;  /*溢出隐藏*/
    text-overflow: ellipsis; /*以省略号...显示*/
    white-space: nowrap;  /*强制不换行*/
    span{
      font-size: 12px!important;
      &:hover{
        font-size: 12px!important;
      }
    }
    .linkHover{
      &:hover{
        color:#0281D3;
      }
    }
}
.table-list tr{
    border-bottom: 1px solid #ddd;
}

.table-list th{
  line-height: 18px!important;
  vertical-align: top;
  padding: 8px;
}

.m-select  {
  display: inline-block;
  width: 68%;
}
.search-child {
  display: inline-block;
  width: 70%;
  height: 35px;
  line-height: 35px;
  .label-first {
    margin:0 30px;
  }
}
.m-card-cont thead > tr:after {
  display: none;
}
.operate>span{
  display: inline!important;
}

.m-p-warp{
  width:100px;
  overflow: hidden;  /*溢出隐藏*/
    text-overflow: ellipsis; /*以省略号...显示*/
    white-space: nowrap;  /*强制不换行*/
}

.m-datepicker-start,.m-datepicker-end{
  width: 47%!important;
}
.list-first-td{
  text-decoration: underline;
}
.list-first-td:hover{
  color: #57b9f8;
  cursor: pointer;
}

